[2011-01-08 12:51] moopet opened #1 ":q doesn't work when MBE is visible"
When mbe is visible, and a file buffer is active, :q does nothing except make the screen refresh. The buffer stays loaded, meaning the only realistic way of ending the vim session is with :qa

[2011-01-08 19:39] fholgado commented on #1
Hi there,

Thank you for submitting this issue! I ran into this myself yesterday while trying to edit a Git commit message in Vim.

The culplit is the following line:

<pre>
autocmd MiniBufExplorer CursorHold    * call <SID>DEBUG('-=> CursroHold  AutoCmd', 10) |call <SID>AutoUpdate(-1,bufname("%"))
</pre>

It updates MBE after any keypress, and it's opening a new buffer after the :q command is iss

[2011-01-09 01:41] ssokolow opened #2 "Closing sidebar MBE in gVim exposes a redraw glitch"
When closing a MiniBufExplorer sidebar using either `\mbt` or `g:miniBufExplCloseOnSelect = 1`, usually (but not always), only some of the rows will get redrawn.

I've tested it on gVim 7.3.50 on Gentoo Linux with MBE c80473ed3990e3a2c4723d0d9f7d902511180423 (6.4.1 by the ChangeLog, 6.4.0 by the version string).  but I first noticed the problem with Oliver's 6.3.4 off VimScripts.

The number or ro

[2011-01-09 04:48] fholgado commented on #1
moopet, take a look at the release I just pushed. I actually killed 2 birds with one stone here! I wrote an intermediary function so that Vim checks if it needs to update before it updates, and it ends up solving the issue you reported. Take a look here:

https://github.com/fholgado/minibufexpl.vim/tree/development/plugin

Please give it a try and let me know if it's fixed on your end!

[2011-01-09 04:52] fholgado commented on #2
Stephan,

I've noticed this as well, but in my case (using MacVim), I get errors that look like the colors are off sometimes, and of course, I can't get it to happen right this moment.

I know there is some code in MBE that deals with the refresh, so I will take a look and see what I can find. This one actually irks me quite a bit, I definitely want to get it cleaned up!

Thanks again, and I'll ke

[2011-01-09 22:44] fholgado commented on #2
Stephan,

I am looking into this issue, but again, I can't seem to reproduce anything like what you've shown me here on my machine running MacVim. The only thing that I do see that _might_ be related is what I believe to be a bug in the regex that handles the highlighting for each buffer tab. You can see it here:

http://fhl.gd/W4ge

If I'm interpreting your screenshot correctly, I am assuming the

[2011-01-10 01:18] ssokolow commented on #2
Basically, all the rows which still show the MBE sidebar haven't been redrawn at all but gVim thinks they have, so the (t,t,f,w) are the first characters of the actual content of those lines. (The buffer selected is setup.cfg but the lines which retain leftover MBE visuals are still showing setup.py)

I'm assuming the bits like `[easy_install]` got drawn in full because of the cursor movements nec

[2011-01-10 05:29] andrew-hill commented on #1
In my experience with minibufexplorer (and previously with minibufexplorer++ from Oliver Uvman - http://www.vim.org/scripts/script.php?script_id=3239), ":q" has never been a clean way of quitting vim if MBE is visible. This continues to be a problem in MBE 6.4.1b1 from the repository.

The first time I type it (with the cursor in a document, while MBE is visible), MBE will vanish but the document

[2011-01-10 06:29] andrew-hill opened #3 "Breaks FuzzyFinder opening files"
Having trouble tracking down exactly what's causing the problem, but these are the symptoms...

I'm using the FuzzyFinder plugin as well: http://www.vim.org/scripts/script.php?script_id=1984
And I'm having a weird interaction between this and MBE.

In previous versions of MBE (from vim.org, including MBE++) FuzzyFinder would open files in the window that's currently open, and the filename would ap

[2011-01-10 06:46] andrew-hill commented on #3
Okay I've just gone through and tested each committed version of the code.

Version 6.3.4 (from http://www.vim.org/scripts/script.php?script_id=3239) worked fine.

Version 6.3.5 (from the 6.3.7 tree in this git repo) causes FuzzyFinder to open a new split window about 2/3 the height of the MacVim tab (larger than the single line windows that 6.4 is producing).

This behaviour persists until commit

[2011-01-10 23:54] fholgado commented on #3
Hi drfrogsplat,

Thanks for your awesome report! I am looking into this to see what could have caused the issue. I don't recall having changed the mechanism that opens the buffers, so it might be something else affecting this issue. I'll keep you posted on what I find.

Thanks again!

[2011-01-11 03:32] andrew-hill commented on #3
I think I've found another way to trigger the weird 1-row-high new window bug.

I'm pretty sure it's related to the buffer(s) that FuzzyFinder uses to bring up its menu system, because if I do the following, I get the same bug:
1. Open up a FuzzyFinder menu
2. Don't actually type anything, just hit ESC to make it go away
3. type :e filename to open a file

This suggests that it's actually the buff

[2011-01-18 01:26] ssokolow commented on #2
I haven't had time to find a VM image for you, but I did write a workaround which seems to solve the problem on gVim and shouldn't run on other UIs.

Assuming I don't screw up the cURL command, this should be followed by a pull request after a minute or two.

[2011-01-18 01:39] ssokolow commented on #2
Bah. The GitHub API is being obtuse. I'll just create a new pull request with its own issue.

[2011-01-18 02:12] ssokolow commented on #2
Hmm. Just noticed that it doesn't solve the problem completely. What it does do is make it a bit less likely and, when it does happen, causes vim to display a block of whitespace where, previously, it would display text from a buffer not currently selected.

[2011-01-18 02:23] fholgado commented on #2
Stephan,

Thanks so much for taking the time to look at the fixes! I have been away for a hockey tournament this weekend but I will get the changes merged in here shortly. It seems like you are on the right track fixing the issue. I'll leave it open until it's fully resolved.

Thanks again!
Federico

[2011-01-22 23:39] pixelmuerto opened #5 "two files same name"
when I try open two differents files with same name in differents paths
vim fileName ../fileName -o
I get this error

Error detected while processing function     <SNR>11_AutoUpdate..<SNR>11_StartExplorer..<SNR>11_DisplayBuffers..<SNR>11_ShowBuffers..<SNR>11_B
uildBufferList..CheckRootDirForDupes:
line    3:
E684: list index out of range: -1
E15: Invalid expression: (a:path1[a:level] == a:path2[a:

[2011-01-23 03:53] fholgado commented on #5
Hey there, can you tell me what OS/platform you are using Vim on? The code that compares the filenames tries to take into account Windows filepaths, but since I don't have a windoze computer, I haven't been able to test it.

Let me know and we'll go from there!

[2011-01-23 15:49] pixelmuerto commented on #5
I use vim in OSX 10.6.6

[2011-01-27 00:33] andrew-hill commented on #5
I get the same problem (MacVim 7.3 on OS X 10.6.6)

[2011-01-27 14:42] fholgado commented on #5
Hi guys, sorry for the delay! Are you both opening files from the command line? Please let me know if you can reproduce this opening files in any other way (such as dragging into the icon, from the open menu, Vim command line, etc.)

I usually use PeepOpen/NerdTree to open files and it seems to work fine, although Vim is never opening 2 files at the same exact time. I think that is the issue.

I n

[2011-01-28 00:20] andrew-hill commented on #5
It's not that they're "opened" at the same time, it's that they're "open" at the same time... it's not about the timing of the opening, just that they are both open in different buffers in the same MacVim tab.

e.g. Open ~/Code/ProjectA/CMakeLists.txt in MacVim
make some changes... whatever
open ~/Code/ProjectB/CMakeLists.txt in another buffer, same window/tab
you may have to switch between them t

[2011-01-28 13:36] pixelmuerto commented on #5
I open the file this way
vim -o ~/path1/file ~/path2/file
or -O or -p or from inside of vim
:sp ~/path1/file
:sp ~/path2/file
in any case I get  same error

[2011-01-28 13:43] pixelmuerto commented on #5
// sorry, I accidentally close the issue, how reopen ?

[2011-01-30 20:18] fholgado commented on #5
Hi guys.

Please take a look at the new beta release here:

https://github.com/fholgado/minibufexpl.vim/commits/6.4.1b2

It should fix all the issues mentioned above. Please give it a run and let me know if the problems are fixed. Once you guys confirm, I will close out the issue.

Thanks again for the bug reports. I appreciate you guys taking the time to submit them  :)

[2011-01-30 21:07] fholgado commented on #1
Guys,

I've done some research into this issue. After the latest release, Vim is now at least exhibiting normal behavior.

The :q command closes the current window. MBE uses it's own window, so therefore when you close the last actual buffer, the MBE window still remains.

I will write a function to detect when MBE is the last buffer open and have it close vim automatically.

I'll keep you updated

[2011-01-30 21:50] pixelmuerto commented on #5
ok, everything working fine.
I test with
vim path1/file path2/file -o
vim path1/file path2/file -O
vim path1/file path2/file -p

and from inside of vim
:sp
:tabnew

thanks for the plugin :D

[2011-02-01 01:07] andrew-hill commented on #5
6.4.1b2 seems to have fixed this bug for me as well, thanks

[2011-02-01 01:08] fholgado commented on #5
Awesome. Thanks for getting back to me. I'll go ahead and close this one out. On to the others!

[2011-02-01 01:08] #5 closed, assigned to weynhamz

[2011-02-01 01:09] fholgado commented on #1
Guys,

I have written the preliminary function and have gotten it to work in some cases, so far it works well when doing a :bd but not when doing :q.  One more night's worth of work and I should have it ironed out. I'll probably be able to get to it this coming weekend.

[2011-02-01 01:11] fholgado commented on #3
drfrogsplat,

I will tackle this issue as soon as I am done with the others. The other stuff is related to code that I've added to MBE so I am much more familiar with it. This seems to be an underlying issue from the plugin which I'll have to fix. I am exited to learn about this stuff though, so I will get to it as soon as I can. Thanks for your patience!

[2011-02-01 01:51] andrew-hill commented on #3
So from my earlier comment, the issue first showed up between 6.3.4 and 6.3.5, which was your first change/release (Friday December 11, 2010 from the "Last Change" field in the header of the mbe plugin file).

After diffing the two files I've noticed the following changes, (ignoring the logs/help):
1. adding a third argument to several functions to specify a buffer name (often passed in as 'bufnam

[2011-02-01 02:15] andrew-hill commented on #3
Also interesting is that I've figured out another way to cause it that I'm pretty sure is unrelated to other plugins:
1. make sure ctrl+tab to change buffers is enabled via:

   <pre><code>let g:miniBufExplMapCTabSwitchBufs = 1</code></pre>
2. open two files (i'll call them _fileA_ and _fileB_) at once so that you have the MBE window at the top (or bottom depending on your settings) and file A vis

[2011-02-01 02:20] andrew-hill commented on #3
Okay it looks like step 4 wasn't actually required (so is either a different, and not very concerning bug or is maybe related to the marking/listing of buffers?).

Just pressing Ctrl+Tab while the MBE window is active seems to trigger the bug.

And there's a slight difference in behaviour if your .vimrc doesn't include:

<pre><code>let g:miniBufExplSplitBelow = 0</code></pre>

In that case, the 1

[2011-02-02 11:59] fholgado commented on #3
drfrogsplat,

You are awesome! Thanks so much for the detailed reports. I think this makes it a lot easier in terms of finding out what's wrong. I will take a look at 6.3.4 and figure out what else might have caused this to happen. I should be able to look at it this weekend.

Thanks again, and I'll keep you updated!

[2011-02-12 21:53] jmatraszek commented on #1
Hi,
the :q command works like drfrogsplat described it. I am using development branch. Is there any chance to get that fixed?
Greetings,
jm

[2011-02-13 17:51] fholgado commented on #1
jm,

I apologize for the delay! My MacBook is at the Apple Store for repairs this weekend, so I have not been able to work on the plugin. I have made some progress and I should have this issue fixed shortly after I get  my computer back. Thanks for your patience!

[2011-02-18 21:47] brendonrapp opened #6 "Slows down significantly when opening 10+ buffers"
I've noticed on my machines that when open buffers starts to approach and exceed double digits, performance is significantly impaired. Opening and switching buffers goes from instantaneous to delayed, and even editing a buffer can become plagued with pauses and hiccups.

When I remove minibufexpl from my Vim plugins and replace it with BufExplorer, the issue disappears (at least up to the number o

[2011-02-22 02:16] fholgado commented on #6
Hey there,

Thank you for the report. I think you are right in terms of MBE slowing down with multiple files. The method that handles updating the explorer when a file changes loops through every file, so it's understandable that it will slow down.

I do have plans to optimize MBE, I just finished with hockey for the year and I will have some free time to put into MBE these coming weeks. I will ke

[2011-02-22 06:09] binduwavell commented on #6
For what it's worth I just opened 50 files using command line vim on my old 2008 MacBook Pro. Was very fast to switch buffers and open new buffers. Also tried latest release build of MacVim. Also very fast. I'm guessing there is some interaction going on. I'm using the version of MBE from sourceforge.

[2011-02-22 06:55] brendonrapp commented on #6
I will definitely need to experiment to try and pin down the potential interaction.

Question: as you opened more and more buffers, was there any perceptible performance degradation? In other words, by "very fast", do you mean "near-instant", or are you perhaps working with a more tolerant definition of "fast" than I might be? I'm assuming it's the former, but just making sure. I could imagine a m

[2011-02-24 02:19] mattmartini commented on #1
I'm having the same problem too.  I can't get :q to do anything useful.

[2011-02-24 20:58] fholgado commented on #6
Hi guys,

I can confirm that opening ~60 files does slow down switching buffers in Vim considerably.

I am almost positive that the logic that the latest version of MBE uses is not as efficient as it should be. Because of all the patches that Oliver and others have sent me, I think some things are not implemented properly.

My plan is to revert back to the latest original verision of MBE that Bind

[2011-03-22 12:19] gorkunov opened #7 "minibufexpl window always mark self as last active"
I'm using minibufexpl and  nerdree. So when i try to open any file from nerdtree as vsplit in current buffer then it split minibufexplorer window not current editor window. It happens because nerdree split last active window but after i switch from editor window to nerdtree minibuferexpl get focus (a little time) for change colors for current active 'tab' so minibufexpl window became last active w

[2011-04-03 03:37] toupeira commented on #3
I also stumbled over this bug and narrowed it down to the `AutoUpdate` function, if I add an exception to skip FuzzyFinder's buffer everything seems to work fine:

[code]

[2011-04-03 21:29] fholgado commented on #3
Hi toupeira. Thanks so much for that patch! I've just merged it into the current development branch so that everyone else can test it out. drfrogsplat, could you check this out as well?

Here's the link: https://github.com/fholgado/minibufexpl.vim/tree/6.4.1b4

As always, keep me posted on the details. Thanks again!

[2011-04-03 21:31] #2 closed, assigned to fholgado

[2011-04-03 21:56] fholgado commented on #7
Hi goruknov. I'm looking into this to see how it can be fixed. Can you test with the MBE version found here to see if the problem persists? If so, I'll have to see what could be causing this problem:

http://www.vim.org/scripts/script.php?script_id=159

Thanks again for the report. I hope to get this fixed too since I'm also a NERDTree user.

[2011-04-05 12:30] gorkunov commented on #7
I installed last version from http://www.vim.org/scripts/script.php?script_id=159 and it works correct (open split in last edited window).

thanks!

[2011-04-07 02:34] mblondel commented on #6
I have the same sluggishness issue starting from around 10 buffers. With the latest release from http://www.vim.org/scripts/script.php?script_id=159, the problem disappear.

[2011-04-08 00:28] toupeira commented on #3
So TIL how to track a remote branch with Git ;-)

FuzzyFinder still works fine, but now I've stumbled over the following problem:

When you're on the first of multiple buffers but only have one window open (not counting MBE) and press :q or <C-W>c, MBE is closed instead of the window. In the master branch it reappears immediately.

[2011-04-08 00:43] toupeira commented on #3
An apparently related problem is that the first buffer has the MBEVisibleNormal highlighting instead of MBEVisibleActive.

Oh and by the way, in the help at the top of minibufexpl.vim it says MBEVisibleNormalActive instead of MBEVisibleActive ;-)

Let me know if I should turn on any debug flags.

[2011-04-13 01:58] andrew-hill commented on #3
sorry, just realised I hadn't commented on this (attempted to do so from my phone's browser which apparently didn't work!) — anyway, have been using the updated version for several days and have only had one or two cases of strange splits happening, in general everything is fixed and I'm able to use FuzzyFinder normally (:

I guess there's a question regarding this patch as to whether there's a be

[2011-04-13 02:01] andrew-hill commented on #6
I've seen this sluggishness from about 6 files on a current model MacBookPro with MBE 6.4.1b2. One possible thing to note is my MBE line was quite long as all the files had long names and were in different directories, so it was spanning a couple of lines...

[2011-04-15 10:31] toupeira opened #8 "Make duplicate name detection optional"
I get a noticable delay when opening multiple files from the command-line, which goes away if I comment out the duplicate name detection and replace it with the original buffer title code from the old MiniBufExpl.

Could you make this feature optional?

[2011-04-15 16:54] john2x opened #9 "Opening files with the same filename causes an error"
When opening files with the same filename using the `:e` command and one of them is on the same level as the CWD, it causes the error:

[code]

Pressing ENTER just keeps on displaying the same error.

Note: It doesn't come up when opening the files via NERD_Tree plugin. Only when using `:e`. I'm using GVim 7.3 on Windows. Haven't tried on Mac OS X yet.

[2011-04-16 14:17] fholgado commented on #9
John,

Try the latest build in the development trunk. this issue is fixed there! I'll move the next build to stable soon.

Thanks!

[2011-04-17 03:57] john2x commented on #9
Awesome. Thanks!

[2011-04-17 13:54] fholgado commented on #8
Hey man,

I can look into making it optional. I am a couple of weeks from finishing school and am planning on rewriting how this is implemented so that it can be more efficient. I'll keep this open for now to remind me to take a look when I start working on MBE again.

Thanks!

[2011-04-17 14:03] fholgado commented on #7
Thanks for confirming that. I will be comparing the two versions to see what's causing this issue. I think this issue might be what was causing the compatibility issues with FuzzyFinder... I hope to get it tracked down and fixed soon!

[2011-04-17 14:05] fholgado commented on #3
Hi Dr. Frog,

I totally agree. I merged it in the code with a note that this is temporary for now. I think this issue is related to [https://github.com/fholgado/minibufexpl.vim/issues/7](Issue #6).

I am almost done with school, and I'm planning to start from the original MBE version that does not exhibit these issues to figure out what changes cause this to happen. Thanks for your patience, we'll

[2011-04-17 14:47] toupeira commented on #8
Thanks, and take your time ;-)

[2011-04-19 17:46] john2x commented on #9
Updated to the latest version on Windows, but now the full path is displayed instead of just the filename (regardless of files with the same names are open). The latest version works fine on Mac OS X.

[2011-04-21 00:28] fholgado commented on #9
Hey there,

I was actually looking for some Windows testers when I was developing the feature but I didn't get any responses. If you would be willing to be my guinea pig, I will send you a development version once I fix the issue to see if it works.

The problem itself just stems from the different separator character that windows (/) and unix () systems use. I have a mechanism to figure out what

[2011-04-21 00:34] fholgado commented on #8
Thanks for your patience :)

[2011-04-21 06:56] john2x commented on #9
Sure. Sign me up!

[2011-04-23 12:00] gorkunov opened #12 "NERD_Tree and Minibufexpl"
Focus nerd_tree window and then click 'tab' in the minibufexpl. Buffer opens in the Nerd_tree window.
Possible fix:
line 1534:

[code]

to (for each condition line):

[code]

[2011-04-24 01:22] xyos commented on #9
i will help you if you want too ;)

[2011-04-28 16:08] randy909 commented on #1
Me too. Please fix.

[2011-05-02 14:07] john2x commented on #9
Any update for the testing? :)

[2011-05-03 00:12] fholgado commented on #9
Hi John,

Getting to it this week sometime. I graduate on Sunday, but I promise I'll get to it :)

Whoohoo, no more school!

##

Federico Holgado
http://fhl.gd
On Monday, May 2, 2011 at 10:07 AM, john2x wrote:

[2011-05-03 08:11] john2x commented on #9
Haha. That's awesome. Congrats!

[2011-05-03 15:13] whitelynx opened #13 "Performance regression in version 6.4.0"
I usually have quite a large number of tabs open. (the session I'm testing this on has 27 tabs) When I first started trying out this branch of minibufexpl, I noticed that it was incredibly slow when switching tabs; however, the original minibufexpl on the Vim site didn't have this issue. I went back through all of the downloads listed here on github, and found that the regression seems to have occ

[2011-05-03 15:52] whitelynx commented on #13
I've narrowed it down to between commits c874c3f22fb953b988a89af854e4c9ee0cd35f94 (fast) and be428a722760ab2439b56be4b10d8c3a67869673 (slow). I can't get more specific than that because the 3 intervening revisions all generate tons of errors both on load and when switching buffers.

[2011-05-08 08:46] MelleB commented on #1
Hi Frederico,

Same issue here, my MBE config:
let g:miniBufExplMapWindowNavVim = 1
let g:miniBufExplModSelTarget = 1
let g:miniBufExplorerMoreThanOne = 2

Hope you're able to fix it.

Kind regards,
Melle

[2011-05-15 23:11] jmnas commented on #9
Regarding the absolute path on windows: note that it doesn't show the absolute path when shellslash is set. I'm using windows but with cygwin as my shell, so setting shellslash generally works better.

[2011-05-16 13:58] john2x commented on #9
Thanks. Didn't know about `shellslash`. Seems to be working fine now. Does setting `shellslash` have side effects?

[2011-05-16 22:39] jmnas commented on #9
It affects how the shell expands filenames, e.g., when using :e. Since I'm using cygwin as a shell it makes things work better but I don't know how well it would work with cmd.exe as your shell.

[2011-05-17 09:46] ghost opened #15 "MBE breaks command history (q:) and search history (q/ and q?)"
MBE 6.4.0
Vim 7.3.189
Ubuntu 10.04

Vim open, no files loaded, no interference.
Vim open, one or more files loaded, I get the following error on entry into the command history, and with every single keystroke while in the command history (and search histories).

Error detected while processing function <SNR>19_AutoUpdate..<SNR>19_StartExplorer..<SNR>19_FindCreateWindow:
line   20:
E11: Invalid in

[2011-05-18 13:49] moopet commented on #1
While trotting around the web I came across this:
http://vim.wikia.com/wiki/Automatically_quit_Vim_if_quickfix_window_is_the_last

And discovered it works fine for MBE too:

[code]

as MBE's buftype is "nofile". I don't know enough about vimscript to fix it right now, but I can report that this in my vimrc solves the problem for me :)

[2011-05-20 02:13] sontek commented on #9
I have fixed this in my branch https://github.com/sontek/minibufexpl.vim

[2011-05-20 02:41] fholgado commented on #9
Hi Sontek, I actually read your article on Vim the other day and saw that you had created a branch for MBE. Cool! Did you utilize this same method to fix the issue? I am finally out of school and have some time to get going on MBE stuff. It would be great if you can show me how you've fixed it.

Thanks again!

[2011-05-20 02:55] fholgado commented on #13
Hi there! Please take a look at the discussion on the subject on Issue #6. The issue arises from the duplicate buffer name checking procedure, and I am planning on letting the user choose to turn on/off the feature until it's speedy enough for everyday use.

Let me know what you think! I am closing this issue so that we can continue discussion in it's respective place.

Thanks again,
Federico

[2011-05-20 02:55] #13 closed, assigned to weynhamz

[2011-05-20 03:00] fholgado commented on #1
This looks like a brilliant solution! Has it interfered with anything else so far in Vim? It will be very simple to implement in the code. I will go ahead and implement it in the development branch so that people can test it out and see if they report any problems. Awesome find :)

[2011-05-20 03:51] whitelynx commented on #6
I hadn't noticed this issue, so I opened another (#13) where I tracked down the speed issues to between commits c874c3f22fb953b988a89af854e4c9ee0cd35f94 (fast) and be428a722760ab2439b56be4b10d8c3a67869673 (slow). It does seem that this corresponds with the introduction of the duplicate buffer name checking code as suggested by fholgado, so I'm pretty sure we've determined the cause of the slowness

[2011-05-20 03:59] fholgado commented on #6
That sounds awesome. In the meantime, I am about to push a build that allows you to turn off the duplicate buffer name checking for users that have a lot of open buffers simultaneously. It's just a temporary fix until we can optimize the process :)

By all means, I would love some suggestions on how to speed up the code. I'll open up discussion on it when I start working on the issue. It's just a

[2011-05-20 04:36] fholgado commented on #8
This has been added in the latest development release. Can you please test it to make sure it works properly?

https://github.com/fholgado/minibufexpl.vim/blob/development/plugin/minibufexpl.vim

Thanks!

[2011-05-20 04:37] fholgado commented on #1
Just as a note, I've added this to the latest dev build here:

https://github.com/fholgado/minibufexpl.vim/blob/development/plugin/minibufexpl.vim

Can everyone please take a look and make sure it works OK and does not conflict with anything else?

Thanks so much!

[2011-05-20 04:40] fholgado commented on #6
As I mentioned, here is an updated build that allows you to turn off the duplicate buffer name checking feature:

https://github.com/fholgado/minibufexpl.vim/blob/development/plugin/minibufexpl.vim

You can use it by adding the following to your .vimrc:

[code]

I will get working on optimizing this process soon!

[code]

[2011-05-20 04:41] fholgado commented on #9
Hi guys,

I have added the shellslash setting to MBE so that you don't have to do it in your .vimrc. Could you please test this build to confirm everything is working? I don't have a Windows computer with Vim to test with, so I am reliant on you guys to tell me of any problems!

https://github.com/fholgado/minibufexpl.vim/blob/development/plugin/minibufexpl.vim

Thanks in advanced!

[2011-05-20 14:13] john2x commented on #9
Thanks. I'll report back as soon as I tame Cygwin.

[2011-05-21 18:54] toupeira commented on #8
Thank you! I tested it and it does indeed work properly :)

[2011-05-21 18:54] #8 closed, assigned to fholgado

[2011-05-22 23:51] jmnas commented on #9
Your fix works, but I think it would be better not to set shellslash for the user. I looked at your code, and I think you should be setting `s:PathSeparator` based on the OS and the shellslash setting. This would work:

[code]

[2011-05-24 01:16] lamnk opened #16 "Window movement commands don't work"
I have set `let g:miniBufExplMapWindowNavVim = 1` in my .vimrc but they don't work. Used on MacVim 7.3

[2011-05-26 23:44] jmnas commented on #6
I took a crack at making the duplicate name checking faster [here](https://github.com/jmnas/minibufexpl.vim/commit/a8399d4bacd71e4e2779c480091eca4627f2ea1a). Performance is better mostly because it only happens when a buffer is opened, but I also reworked the checking so opening files isn't as slow. Only lightly tested.

[2011-05-27 16:37] fholgado commented on #6
Sweet! Taking a look at it now, I'll report what I find. Thanks again :)

[2011-05-27 16:45] fholgado commented on #9
Thanks for the suggestion... Here is the original code:

[code]

Could you explain what checking for shellslash would do? Would this mean that we should have users set shellslash in their own .vimrc? And if so, why? Thanks so much for your help!

[2011-05-27 16:49] fholgado commented on #16
Hi there. Thanks for letting me know! I'll take a look and see what could be wrong. In the meantime, I actually have this in my .vimrc which should do the same:

[code]

[2011-05-27 19:27] jmnas commented on #9
You need to figure out what the path separator is so that you can split paths properly. It is '/' on *nix and '\' on windows unless the user has set shellslash.

If you look at what pathogen [does](https://github.com/tpope/vim-pathogen/blob/master/autoload/pathogen.vim#L78) you'll see the separator is `!exists("+shellslash") || &shellslash ? '/' : '\'` which looks pretty good.

In the original cod

[2011-05-27 19:39] jmnas commented on #6
Ok, to be clear, it isn't a complete solution that could be rolled into a release. It was more of an experiment to see if it could be faster. One issue is that when buffers are deleted it probably needs to do some cleanup.

[2011-05-31 07:24] janlarres commented on #1
I've had the same problem in Tagbar, you can check my solution (which also handles the case of more than one open tab) here:

https://github.com/majutsushi/tagbar/blob/master/plugin/tagbar.vim#L2578

The idea is originally from taglist.

[2011-06-03 06:13] finack opened #17 "Problem with tpope/fugitive & MBE"
First, thanks for the awesome work. Love MBE. Currently running off of development branch which fixed the issue with two buffers with the same name. Running into some compatibility problems between MBE and Fugitive.

1) If I go into a git repo and run fugitive's :Gstatus, I get the change buffer and all is happy. When I run 'D' diff on a change, I get the two vertical windows with vimdiff but in t

[2011-06-15 18:19] fholgado commented on #17
Hey Peter,

Sorry for the delayed response. You are correct that this is a bug with MBE and not Fugitive. I am in the process of reverting back to an previous version of MBE that does not exhibit this behavior. I will keep you posted once this is fixed. Thanks for the kind words!

[2011-07-01 19:27] moopet opened #18 "rotate windows shouldn't move mbe"
Resizing windows doesn't affect the mbe window - it stays minimum height at the top of the screen, which is great. However, rotating windows with <c-w>r moves it away from the edge. It should stay fixed - probably by hiding it before a window rotation and then re-showing it afterwards.

[2011-07-03 14:55] huyz commented on #15
I ran into the same issue.

[2011-07-05 19:27] fholgado commented on #18
Thanks for reporting this. Already have it noted for a fix!

[2011-07-06 03:04] fholgado commented on #15
Hi guys,

I am not seeing this issue. Please try and update to the latest version of the plugin. I just updated the stable branch with the latest changes.

Please let me know if you are still experiencing this, if not, let's go ahead and close this one out.

Thanks :)

[2011-07-06 03:11] fholgado commented on #1
Hi Jan,

Can you walk me through what is happening in the code? You may have updated something and the link you sent is no longer pointing to the right line. I did see a CleanUp() function, is that what you're referring to?

Thanks for helping out!

[2011-07-06 08:19] janlarres commented on #1
No, I was referring to the `QuitIfOnlyWindow()` function a bit further down:

https://github.com/majutsushi/tagbar/blob/master/plugin/tagbar.vim#L2615

[2011-07-07 05:56] huyz commented on #15
It seems to be fixed for me.

[2011-07-11 14:17] #15 closed, assigned to fholgado

[2011-08-01 21:30] Illiux commented on #9
I can confirm that setting shellslash indiscriminately on windows breaks things. I encountered problems with it and using netrw SCP on windows. Setting shellslash causes Vim to single-quote the paths, something cmd.exe can't understand.

[2011-08-03 11:58] fpauser opened #20 "Feature: Make CTab & CSTab "cycle" through *all* buffers in MRU-fashion"
It would be great if we could "cycle" through _all_ buffers according to their last "use" (MRU). Just like "^Tab", but while holding "Ctrl" down and pressing Tab (again and again or holding it down) it should go to the "next-most-recent-used" buffer and so on (switching not just between the last two "mru" buffers).

I found the "miniBufExplSortBy" option but what I am looking for is another "MRU"-

[2011-08-04 18:05] acornejo opened #21 "MBE stealing focus"
I've upgraded to this version of minibufexpl (mainly for the syntax highlighting of the buffer) and during regular usage I have stumbled across several bugs (I think they are all related, so I am only reporting one of them).

To reproduce:

First make open VIM and make sure your buffer list is empty. Open up NERDTree explorer and open two files, which should cause MBE to "activate" upon opening th

[2011-08-12 16:28] rweng commented on #17
+1, seems to happen with current version (July 06, 201), too

[2011-08-25 08:04] ivanov commented on #3
I just wanted to add that something similar was originally reported as a bug against ivanov/vim-ipython#7 - and there I said that one workaround is to `:let g:miniBufExplorerAutoUpdate=0` because otherwise, `ctrl-w p` is broken - any time you switch from one vim window to another - you can't go back to the first using `ctrl-w p` because that will always take you back to minibuf

[2011-08-26 10:34] stardiviner opened #23 "color highlight current selected"
when h/l to select buffers. It's hard to see when only a cursor on screen. So I think you should add a color for current select buffer with color. really.

[2011-09-07 18:41] chrismcbride opened #24 "custom color syntax goes away after deleting a buffer"
I have a few custom color highlights in my .vimrc, whenever I close a buffer I lose them, I have to restart vim to get them back, I'm using gvim version 7.2. I have the latest version from github and I've tried setting the flag to force the color syntax reload.

[2011-09-07 18:43] fholgado commented on #24
Hi Chris,

I'm aware of the issue. Had a chance to work on MBE a bit this past weekend and I think I'll have some more time this weekend. Should be able to get out a new release that fixes it! Let me know if you run into anything else.

##

Federico

On Wednesday, September 7, 2011 at 2:41 PM, chrismcbride wrote:

[2011-09-07 18:44] chrismcbride commented on #24
thanks, I appreciate the quick response!

On Wed, Sep 7, 2011 at 2:43 PM, Federico Holgado <
reply@reply.github.com>wrote:

[2011-09-09 22:52] jackfranklin opened #25 "Can't navigate with Control-H & Control-L"
Hey,

In my .vimrc I have the following lines:

[code]

Control+J or Control+K works fine to move up/down but can't go left or right.

Any ideas really appreciated.

Thanks.

[2011-10-12 07:48] raine opened #26 "Switching buffers with modifier + number"
Similarly to TextMate's Cmd-n for switching buffers.

[2011-10-13 18:52] mkrauskopf commented on #26
You can put something like the following into your ~/.vimrc

[code]

I personally have this in my ~/.vimrc

[code]

which works well with combination with Mini Buffer Explorer plugin.

Cheers,
- m.

[2011-10-13 19:01] raine commented on #26
Hello,

I think the problem with that is that it follows vim's buffer numbering instead of the order of buffers that is visible in minibufexpl. Also, I haven't found any way to make vim's buffer numbering manageable, vim seems to be giving my buffers ever increasing numbers regardless of how few buffers I have open.

I'm essentially looking for a solution that shows me the open buffers all the tim

[2011-10-13 19:20] mkrauskopf commented on #26
I see. It still works well since minibufexpl put in front of each buffer/file name the number used by Vim's buffer numbering scheme as might be seen on e.g. [this screenshot](http://fhl.gd/qnNQ).
So usually minibufexpl give me quickly a buffer and its number and then I just press e.g. _,6_ and I'm there instead of explicitly navigating. But most of the time I'm using [FuzzyFinder](http://www.vim.o

[2011-10-17 19:45] toupeira commented on #17
Just wanted to add that the old version 6.3.2 from vim.org has the same problem.

[2011-10-19 15:29] toupeira commented on #24
Hey Federico,

Looks like removing the call to `syntax enable` on line 1604 does the trick, and I'm not sure why it was needed in the first place. Maybe to be safe you could just wrap it in a check for `g:miniBufExplForceSyntaxEnable` (which I've already set to 0) as on line 1660?

[2011-10-19 17:18] fholgado commented on #24
Hey Toupeira,

Glad you figured this out. It's been driving me nuts for a while. I have been slammed at a new job, but I should be able to make this change and push it out sometime within the next day or so. Still have a bunch of stuff to fix, but this was the biggest immediate issue by far.

Thanks again!

[2011-10-19 20:05] toupeira commented on #24
No problem, thanks to _you_ for still maintaining MBE ;-) To make it easier for you I've created a fork and sent you a pull request. This is the first time I'm doing this, so I hope I did it correctly!

[2011-10-20 22:54] fholgado commented on #24
Guys, this has been fixed and updated. Feel free to reopen if the issue persists. Thanks again for the help :)

[2011-10-20 23:07] fholgado commented on #9
Hi guys,

I've gone ahead and updated the code not to set shellslash indiscriminately. Since I don't have a way (or the will) to test this in Windows, please try this updated script to see if it works OK. If you can confirm, I'll go ahead and merge it into the stable branch.

Link: http://f.fhl.gd/B8or

Thanks in advance :)

[2011-10-20 23:15] chrismcbride commented on #24
Now I get this error every time I open a new buffer

Error detected while processing function <SNR>15_AutoUpdate..<SNR>15_StartExplorer:
line   58:
E518: Unknown option: colorcolumn&

[2011-10-20 23:15] fholgado commented on #25
Hm. MBE attempts to do the same thing that you've got in your .vimrc, and you're turning on that setting right below the duplicate map. You might want to either let MBE do it and remove the mappings from your .vimrc, or tell MBE NOT to map those keys and use the code that you currently have in your .vimrc.

Make sense?

[2011-10-20 23:16] fholgado commented on #23
I'm sorry, I can't follow what you're saying. Could you post a screenshot so that I can see what you're talking about?

Thanks :)

[2011-10-20 23:21] fholgado commented on #16
This seems to work OK for me. Closing the issue for now unless anyone else reports this not working.

[2011-10-20 23:21] #16 closed, assigned to fholgado

[2011-10-21 02:20] fholgado commented on #24
Chris, what version of Vim are you using? Seems to work OK for me in Vim 7.3.

[2011-10-21 02:36] stardiviner commented on #23
Actually, I hope you can add one feature:
This feature is to add color for **current selected** buffer name, **other selected** buffer name.
It is hard to distinguish between buffers name because no delimiter between them. So I want to assign different color to every buffer name. so that when I switch between buffers can know which one my cursor is on.

[2011-10-21 02:53] fholgado commented on #18
I believe this is fixed now, can you verify?

[2011-10-21 03:26] chrismcbride commented on #24
I'm on Vim 7.2, the debian package

[2011-10-21 11:29] toupeira commented on #24
Hey Chris, it seems to work fine here with Vim 7.2 on OS X, and Vim 7.3 on OS X and Debian. There's no mention of "colorcolumn" in either the MBE source or the Vim runtime files, so maybe you have a local modification that's causing this?

[2011-10-21 14:14] chrismcbride commented on #24
Hmm...Ok I'll look in to it on my end

On Fri, Oct 21, 2011 at 7:29 AM, Markus Koller <
reply@reply.github.com>wrote:

[2011-10-21 14:43] chrismcbride commented on #24
On line 753 on minibufexpl.vim it has the command "setlocal colorcolumn&". I commented that out and the error went away. I'm not sure what it does.

[2011-10-21 16:05] toupeira commented on #24
Looks like a new feature from Vim 7.3 that highlights one ore more columns, nice ;-)

[2011-10-21 16:16] fholgado commented on #24
Ah... I'll wrap it in a conditional to only check if you're in Vim > 7.3. Sorry about that!

[2011-10-21 16:19] chrismcbride commented on #24
you could also do this

  if has('colorcolumn')
  setlocal colorcolumn&
  endif

On Fri, Oct 21, 2011 at 12:16 PM, Federico Holgado <
reply@reply.github.com>wrote:

[2011-10-21 16:54] toupeira commented on #24
Ah whoops, I completely forgot I'm using my own MBE fork now where I didn't merge the `colorcolumn` change yet ;-)

Sorry for the confusion Chris!

[2011-10-21 16:55] chrismcbride commented on #24
Haha its no problem. It was a pretty easy fix

On Fri, Oct 21, 2011 at 12:54 PM, Markus Koller <
reply@reply.github.com>wrote:

[2011-11-14 03:24] john2x commented on #9
Hi. I've tried the one you linked but I get an error when trying to `:source` it.. Yet setting `shellslash` still fixes the problem.

[2011-11-15 10:44] folke commented on #3
I seem to be having this issue with the latest version of MBE

[2011-11-15 11:18] folke commented on #7
This patch most likely fixes this: https://github.com/fholgado/minibufexpl.vim/pull/30

[2011-11-16 22:20] sontek opened #31 ":cd generates a new minibufexpl window"
If I'm working in vim and I want to change my working directory to the current file I'll do :cd %:p:h<CR> but then when I open up a new file it regenerates the minibufexpl window, so then I have 2 of them.

[2011-11-23 21:45] mikehaertl opened #32 "Make MBE always stay at the edge - MBE doesn't use full width after re-opening NERDtree"
Hunting me since ages: MBE should always span the complete width on top. When you close NERDtree (or vimproject) and re-open it again, it will change from this layout:

[code]

to

[code]

Sorry if i'm blind and missing an obvious configuration. But i think i really tried hard. Would be great to finally see this fixed.

[2011-12-12 11:10] jsynacek commented on #24
In the latest version (74e8194d6d35319ccb412e532d79a28314e4e519), syntax coloring disappears after doing the following:
1) export TERM=xterm-256color
2) start vim with 2 buffers (both c syntax)
3) :b2
4) :bd
Now the syntax of the first buffer is not highlighted anymore, I have to enable syntax manually by typing 'syntax enable'.

[2011-12-12 14:08] toupeira commented on #24
Seems to work fine here with 74e8194 and the following settings:

[code]

[2011-12-13 08:09] jsynacek commented on #24
Ahh, my bad I think. In step 4), I accidentally executed :q instead of :bd. The :q command closes MBE and that disables the syntax. I'm not sure if this is a bug or correct behavior though. Two possible solutions come into mind: either close vim (act as if MBE wasn't there) or reenable syntax. Is this possible? Or is there any workaround?

[2011-12-13 12:30] toupeira commented on #24
`:q` doesn't reset the syntax here either (though it does correctly close MBE). Try setting `g:miniBufExplForceSyntaxEnable = 0`, I used to have this enabled and IIRC it caused similar problems.

[2011-12-13 13:43] jsynacek commented on #24
Ok, this is really weird. I disabled pathogen, all plugins, commented out all the vimrc settings. All that's left is the MBE settings toupeira suggested above and only MBE plugin enabled. I start vim with two C-syntax buffers, type :q, MBE closes and syntax highlighting is gone. I also tried different terminals and colorschemes. Is it just me who's having this issue?:(

[2011-12-13 14:00] toupeira commented on #24
What Vim version are you using? I've tried with both 7.3.346 on Linux and 7.3.353 on OS X, but couldn't reproduce your problem.

You might find out more by enabling MBE's debug output, check the help for instructions.

[2011-12-14 07:32] jsynacek commented on #24
I'm using vim 7.3.315 (Fedora 16 latest packages) but it doesn't seem to matter. I also tried compiling vim from the latest mercurial and the behavior is the same. If I start editing the file, MBE automatically opens again and syntax resets. But if I just want to read through the file (which is almost always what I want to do), I have to enable it manually as mentioned above. Here is the debug out

[2011-12-19 14:54] mikehaertl opened #33 "Invalid range errors when used with LustyExplorer"
I use the [LustyExplorer](http://www.vim.org/scripts/script.php?script_id=1890) extension and often, when i open it, i see errors like these popping up from minibufexplorer:

[code]

[2012-01-05 14:32] dkinzer commented on #6
I can confirm this too.And in my case it happens around six or seven opened buffers.  It happens very quickly when I do a vimgrep and copen a list with many hits.

[2012-02-01 09:00] j0hnsmith commented on #12
This is what I've been looking for to stop my tag list buffer from being overwritten, thanks

[2012-02-01 15:29] JDeuce opened #37 "multiple MBE buffers"
Hey

I'm using your version of MBE, it works pretty good but once in awhile it ends up messing up and opening multiple instances of the MBE buffer (as pictured in my screenshot below):

![Screenshot](http://i.imgur.com/vf28w.png)

This same thing was happening with the old vimscripts version, and it's happened to me across multiple machines, so I'm sure I'm doing something wrong on some level, but

[2012-02-02 10:05] mikehaertl opened #38 "Project seems to be dead"
Unfortunately it seems like @fholgado has lost interest in this project. There has been no updates for months now and no issues are adressed anymore.

This is a petty as i really like the improved version - but there are some open issues.

I found no better way than to open a ticket for this, as this may catch some attention from other developers. Is anyone willing to take over maintenance? Is the

[2012-02-02 14:26] fholgado commented on #38
Hi guys,

I am so sorry for the delays. Just moved + new job + life in general has gotten in the way a bit. I am still interested in keeping up with MBE, and I should have some time this weekend to take a look at the pull requests and fix a few issues.

I'll keep you posted!

##

Federico

On Thursday, February 2, 2012 at 5:05 AM, Michael Härtl wrote:

[2012-02-02 14:29] mikehaertl commented on #38
Hi Federico,

thanks a lot for the update. This gives me new hope.

Wish you all the best and sorry for the agitating. ;)

[2012-02-07 06:56] ab commented on #1
Any updates on this? I'd be interested in a fix.

[2012-02-08 19:53] skip- commented on #17
Still same problem. Versions: VIM 7.3.2, minibufexpl 6.4.1, fugitive 1.2, git 1.7.7.4
Anyone have an idea to fix this?

[2012-02-08 22:50] toupeira commented on #17
@skip-, it seems to work fine here now, try minibufexpl 6.4.3 from the [development branch](https://github.com/fholgado/minibufexpl.vim/tree/development).

@fholgado: maybe it's time to merge that branch? ;-) I've been working with it for the past few months and haven't encountered any problems.

[2012-02-10 17:11] davidhalter opened #39 "Color settings for the MBE window have no effect in the shell"
Hi!

I'm currently using the gnome-terminal to do most of my work, including all the vim stuff.
I wanted to change the colors of the MBE window (in my .vimrc):
hi MBENormal ctermfg=cyan

which has no effect, but:
:verbose hi MBENormal
MBENormal      xxx cterm=bold ctermfg=6
        Last set from ~/.vimrc

I also tried installing gvim (GTK) to test if it would work in a gui version. But it didn't.

[2012-02-16 09:27] tutorgit opened #40 "Option to hide statusline (Toggle)"
This would be nice feature, as generally I  don't need the statusline.

[2012-02-16 12:48] nixmaniack commented on #40
I also want to disable the statusline. Is there any way right now? If not would be a good feature.

[2012-02-18 04:07] jshou commented on #1
I'd also be interested in a fix. Is the fix in a branch somewhere?

[2012-02-24 06:24] sillykelvin commented on #37
Yes, I have this issue too. If I have opened two buffers, and if I type ":e ." to open the third file, then it will generate a new MBE window. any ideas about this issue? Thanks.

[2012-02-27 02:52] fholgado commented on #40
The only thing you can do is remove the text of the statusline. Since MBE is actually a buffer, it HAS to have a statusline. I'd remove it too if I could ;)

[2012-02-27 02:52] #40 closed, assigned to fholgado

[2012-02-27 02:53] #38 closed, assigned to fholgado

[2012-02-27 02:58] fholgado commented on #32
Hi Mike, I use NERDtree often and I'm not seeing this issue. I have <leader>n bound to :NERDTreeToggle, and that works fine. Please update MBE and see if the latest updates have made this better.

Thanks!

[2012-02-27 03:14] fholgado commented on #26
That's an interesting approach. I would suggest using something like ctrl-p (https://github.com/kien/ctrlp.vim) in "most recently opened" mode to find buffers.

I haven't played with TextMate's functionality that you mention, and I recently have started using CMD + # for switching tabs in Chrome. I'll keep it in mind.

[2012-02-27 03:14] #25 closed, assigned to fholgado

[2012-02-27 03:22] #12 closed, assigned to fholgado

[2012-02-27 03:23] fholgado commented on #3
If you guys can confirm this is fixed, I'll close this one :)

[2012-02-27 03:24] fholgado commented on #21
This should be fixed in the latest build. Could you update and verify?

[2012-02-27 03:26] fholgado commented on #6
@jmnas It would be great if you could make a pull request with your changes so that we can test. I still have this feature turned off until we can speed it up a bit. Thanks :)

[2012-02-27 03:31] fholgado commented on #17
I'm actually seeing some errors when I try to run a diff. It looks like an error being caused from MBE temporarily focusing on it's buffer to update the view... http://f.fhl.gd/EYrf

Are you guys seeing this?

[2012-02-27 07:51] mikehaertl commented on #32
Thanks Federico, i've updated and tried again: no difference. I also had the same problem with `project` plugin (similar to NERDtree). Over the years i used different plugin configurations on different machines - but this was always the same.

Any idea what else i could check? Maybe it's really some misconfiguration, even though i wonder, what exactly i could misconfigure.

[2012-02-27 09:16] toupeira commented on #17
@fholgado: actually I'd like to retract my previous comment about it working fine, I think I confused `:Gdiff` with pressing `D` in `:Gstatus` ;-) I don't get the error message though, but the diff is between the first file buffer and the MBE buffer, instead of between the two file buffers.

What I did:
- open Vim from inside a Git repository
- run `:Gstatus`, which opens the status output in a ne

[2012-02-27 09:27] toupeira opened #41 ":q sometimes closes MBE instead of current buffer"
If I run Vim and pass at least 2 file arguments, and then press `:q` in the first buffer, MBE gets closed instead of the file. If I switch to another buffer, `:q` correctly closes that file instead of MBE. If I switch to another buffer and then back to the first one, `:q` again closes MBE instead of the file.

This bug seems to be present in the vim.org version too, but for some reason I've never

[2012-02-27 09:34] toupeira commented on #3
I haven't had any problems with FuzzyFinder for a while now.

[2012-02-28 15:01] JDeuce commented on #37
I tried what you said and I was unable to reproduce the issue by having 2 open buffers and doing ":e .".
This might be related to #31, but I was also unable to reproduce using his method.

I haven't yet figured out a way that I can consistently make it happen (which I know would make it much easier for fholgado to fix).

One thing I will add is that when it does happen, there seems to be some sort

[2012-03-01 16:29] sillykelvin commented on #37
this is really strange, I only can reproduce by opening specific files, others will not. I don't know if this is caused by incompatible plugins, I also have NERDTree, FuzzyFinder, NeoComplCache installed.

I checked issue #31, my problem is similar to his.

[2012-03-01 16:31] sillykelvin commented on #31
yes, when I use :e . on specific files, I have this problem too.

[2012-03-01 18:02] stephenmckinney opened #42 "ack.vim splits minibufexpl window"
To reproduce:
Do a search with ack.vim: `Ack! foo`
Go to a file in the list list and hit the `v` key
The file is opened in a tiny tiny split window next to minibufexpl

The cause:
The `v` key in ack.vim uses the following `exec "nnoremap <silent> <buffer> v <C-W><C-W><C-W>v<C-L><C-W><C-J><CR>"` at https://github.com/mileszs/ack.vim/blob/master/plugin/ack.vim#L56. It goes to the top window availabl

[2012-03-08 12:21] wolfgangpfnuer commented on #37
i got the same problem, i have the feeling it is somewhat related with the following things (i.e. they increase the likelyhood of the bug appearing)

A) switch current folder with NerdTree (for example by using bookmarks) and open a file
B) jump to other files using ctags, open NerdTree there as well to edit a file from same folder
C) double-click on a file in MiniBufExpl

It really seems to be a

[2012-03-09 09:16] andrew-hill commented on #3
yeah haven't noticed any issues with FuzzyFinder for a while either, so i guess its all ok

[2012-03-09 14:13] noscript opened #44 "Conflict with NERDTree"
Previously if I split the view to many windows and open some file from NERDTree, the file was opened in the last active window, but now on NERDTree opens files always in the most top-left window. Downgrading minibufexpl to 6.3.2 from http://www.vim.org/scripts/script.php?script_id=159 fixes the problem.

[2012-03-09 19:14] JDeuce commented on #37
I also have NERDTree installed, no fuzzyfinder, neocomplcache.

[2012-03-14 15:16] skip- commented on #17
Glad it's not my particular setup :). Any thoughts on how to fix this?

[2012-03-14 15:41] av930 opened #46 "Is this new version of plugin available in vundle ?"
Hello, I am using vundle plugin to manage several plugins.
I try to update minibufexpl.vim like this ...
----my .vimrc ----
"Browsing
Bundle 'fugitive.vim'
Bundle 'minibufexpl.vim'
Bundle 'The-NERD-tree'
Bundle 'Tagbar'
Bundle 'Source-Explorer-srcexpl.vim'

however I can not update it,
when I check its version through "git log".
## its version is still 6.3.2

commit c05c2dcd2a8af7ff279089c300bd7f9

[2012-03-15 08:50] av930 commented on #46
I resolved this problem. Bundle 'fholgado/minibufexpl.vim' not 'minibufexpl.vim' thanks.. from JK

[2012-03-15 08:50] #46 closed, assigned to nobody

[2012-03-16 02:11] av930 commented on #39
I have same problem, No color changed? is there specific setting for color effect in vimrc ?

[2012-03-27 02:51] av930 commented on #1
I am in still suffering this issue? any update for it  or MBE setting?

my setting are
let g:miniBufExplorerMoreThanOne=1  "solve to conflict with nerdtree
let g:miniBufExplMapWindowNavVim =1 "0, "ctrl+hjkl window move"
let g:miniBufExplUseSingleClick =1 "1, "mouse single click
let g:miniBufExplModSelTarget =1 "1, "with other windows like Taglist

please help me

[2012-03-27 03:14] mattmartini commented on #1
I gave up on minibuffer.

I now use the tabbar feature:

from .vimrc:
set showtabline=1                                   " Tabbar on two of more files
" Put each buffer into a tab
nmap <leader>ta :tab ball<CR>
" move between vim tabs
map <F4> gt
map <S-F4> gT

Launch with:
vim -p <file1> <file2> ...

On Mar 26, 2012, at 10:51 PM, av930 wrote:

[2012-03-27 04:44] av930 commented on #39
I solved this problem using inkpot color scheme with this conf.
"let g:inkpot_black_background = 1 "disable this line..

[2012-03-27 05:24] av930 commented on #1
this is work around solution.
please refer below link (the first code)
https://github.com/scrooloose/nerdtree/issues/21

I guess this will help you.
from JK

[2012-03-27 05:24] av930 commented on #41
please refer below issue
https://github.com/fholgado/minibufexpl.vim/issues/1

[2012-03-29 00:34] #41 closed, assigned to weynhamz

[2012-03-29 00:39] toupeira commented on #1
`:q` works fine here when editing a single file, but when multiple buffers are opened pressing `:q` will always just close MBE and switch to the first buffer.

[2012-03-30 16:28] linduxed opened #47 "Tags get messed up"
I don't know since what version this is happening, but while `:help` works as intended, with a command like `:help minibufexpl.txt` showing the help page for this plugin, the command `:tab help minibufexpl.txt` results in the following:

[code]

After these two errors, an empty tab is opened. This applies to all help pages.

[2012-04-02 15:38] maciakl opened #48 "Conflict with Fugitive Gdiff"
I use MiniBuffExpl along side of the Fugitive plugin and I noticed that when I run :Gdiff it correctly opens two files side by side, but then diffs one of them with the MiniBuffExpl buffer. Is there a way to prevent this? I'm filing bug reports here and for fugitive to see if one of the projects can get it fixed.

Could there be a way to temporarily suppress MBE for certain calls? My workaround ri

[2012-04-02 15:40] maciakl commented on #17
I have a similar problem. Quick workaround I found was to add this to .vimrc:

[code]

This prevents MBE from showing up when there are only two buffers open, which makes Gdiff work correctly. Ideally I would love to see a solution that would let me to drop that number to two.

[2012-04-04 20:10] chrisnicola commented on #44
Having the same problem

[2012-04-04 20:14] chrisnicola commented on #44
Using tag 6.4.3 fixes this behaviour so it must have been introduced recently. If I get some time I'll run git bisect and try to find the exact commit.

Update: Nevermind, for some reason it worked for a bit and now it isn't again.

[2012-04-05 11:49] blob42 commented on #48
+1

 same issue here, looking for a way to pause MBE while using fugitive :/

[2012-04-10 06:49] brookhong commented on #48
+1

[2012-04-10 22:07] chrisnicola commented on #7
Not fixed from what I can see. Still have this problem with NERDTree.

[2012-04-15 17:39] skip- commented on #17
I'll give that a try while this get's fixed. Thanks for the suggestion.

[2012-04-25 12:38] ditsing opened #49 "Cannot switch between buffers when set show buf numbers = 0"
After adding

[code]

to my vimrc file, I cann't switch between buffers by hitting enter on the tab of mbe.

Vim keeps saying:

I believe that the function `GetSelectedBuffer` returns a wrong value.
`GetSelectedBuffer` gets the count number by `subtitute`.

[2012-04-28 17:01] DYFeng opened #50 "Custom Status Line format?Where is it?"
It seems that MBE uses it's own custom Status Line format to reduce the unwanted information,but I can't find anything about it in the source.
add this line in the source
'''vim
set statusline=%F
'''

[2012-05-01 14:06] cammacrae commented on #39
I have the same issue - setting highlight colors has no effect. Using tmux and 256 color xterm.

[2012-05-04 00:52] polmiro commented on #49
I noticed the same issue. No big deal but the option to remove the numbers becomes quite useless.

[2012-05-04 19:24] quasarj opened #51 "Conflict with Vundle on Windows"
Hey there!

So.. MBE is setting "shellslash" when used on Windows. It looks like this is to make the code work that removes directory names for two files in the same directory. However.. setting shellslash on Windows is not a good idea. It causes shellquote() to use single quotes instead of double quotes, which breaks everything on Windows.

In my case, I ran into this while using Vundle. I imagin

[2012-05-11 09:21] andrew-hill opened #52 "Feature: Shortcuts for buffers based on position in MBE (not buffer number)"
Looking at an editor like TextMate (and plenty of others) you can switch between files using something like cmd+1,2,3,4,etc, as well as rearrange the open "tabs" to let you switch between documents easily.

Would be useful if there was a way to access the buffers listed in MBE based on their ordering in MBE (rather than simply buffer numbers via :b# as is currently available). This would allow sim

[2012-05-16 22:04] rjha commented on #44
It looks like that opening NERDTree makes the MiniBufExplorer window invisible. However if you open multiple files and then again do :MiniBufExplorer then the buffer explorer window is visible again. Sequence of steps
1) Open gVim
2) :MiniBufExplorer
3) :NERDTree
Buffer explorer becomes invisible
4) Open 2-3 files using NERDTree window
5) :MiniBufExplorer
The buffer explorer window is visible agai

[2012-05-16 22:08] juanolon commented on #37
I also have this issue, really strange. this happens specially when i switch between buffers with <C-TAB> and <C-S-TAB> really annoying..

[2012-05-16 22:13] juanolon commented on #50
hi, i found this solution, hope it helps..
"http://dev.gentoo.org/~bass/configs/vimrc.html
if has("autocmd")
    au FileType qf
                \ if &buftype == "quickfix" |
                \     setlocal statusline=%2_%-3.3n%0_ |
                \     setlocal statusline+=\ [Compiler\ Messages] |
                \     setlocal statusline+=%=%2*\ %<%P |
                \ endif

[code]

endif

[2012-05-19 18:14] DYFeng commented on #50
THX very much.It works

[2012-05-19 18:14] #50 closed, assigned to weynhamz

[2012-05-21 12:36] melta commented on #37
I also have this issue, no NERDTree and no fuzzyfinder installed.

[2012-05-24 17:10] ghost opened #54 "Setting miniBufExplorerMoreThanOne to 0 doesn't work anymore"
`let miniBufExplorerMoreThanOne = 0` still works for numbers greater than 0, but setting it to 0 doesn't cause minibufexpl to open even if there are no open buffers, despite what is said in the documentation.

Was still working in version 6.4.3.

[2012-06-04 01:04] sharonjl commented on #37
I am seeing this issue as well. Even on a clean install. I have NERDTree installed; but no fuzzy or neocomplcache.

[2012-06-26 18:30] AWinterman commented on #21
I'm using the latest build, and this is happening with vim-ipython. I've set `let g:miniBufExplorerAutoUpdate= 0` to no avail.

[2012-07-20 12:08] linduxed opened #59 "Add an option to stop changing updatetime, it is set too low for easytags"
I'm not sure if this is something that should be brought up as in issue with this plugin, but I'll mention it anyway.

The [easytags plugin](https://github.com/xolox/vim-easytags) has got a couple of lines that detects too low values of updatetime and complains loudly about it.

Currently minibufexpl does `setlocal updatetime=300` which it considers too low (due to it having to update the tags tha

[2012-08-03 10:52] weynhamz opened #60 "No filetype for minibufferexpl window?"
Maybe should be set to 'minibufexpl' just the same as the plugin name.

[2012-08-14 10:36] egery opened #61 "Vim slowed down by MBE."
Hello,

Your mbe brings neat ideas, but lower Vim's responsiveness to an unacceptable level.
I've tested with a plain Vim version 7.3.353 without any plugins / .vimrc (except pathogen).

Without mbe, if I open 20 moderately sized files (~6000 char), every buffer switch (`:bn`) is instantaneous.
With mbe, it takes uncomfortable fractions of second.
I've experienced delay of 2 seconds, but in conjun

[2012-08-27 09:22] gnujeremie commented on #32
I have the same "issue". When MBE is opened, and then I open NERDtree, MBE get resized. If there are too many buffers in the list, they then use 2 lines. Then, when I close NERDtree, the buffers go back on 1 single line but MBE height stays as if there where still 2 lines.

[2012-08-27 12:24] lewurm commented on #61
I can confirm that. I updated MBE from a quite old version recently and I have the same experience as egery.

[2012-08-27 14:14] lewurm commented on #61
I did a `git bisect` session, here's the result:

[code]

with the skipped commits, `vim` throws a lot of error messages on startup and it wasn't useable.

HTH

[2012-08-27 14:17] fholgado commented on #61
Hi guys,

Sorry for the lack of activity. Please check here for an answer:

https://github.com/fholgado/minibufexpl.vim/blob/master/doc/minibufexpl.txt#L254

##

Federico

On Aug 27, 2012, at 10:14 AM, Bernhard Urban notifications@github.com wrote:

[2012-08-27 14:20] lewurm commented on #61
awesome, thanks!

[2012-08-27 14:53] egery commented on #61
Yep, the workaround `let g:miniBufExplCheckDupeBufs = 0` works. Thank you !

[2012-09-01 18:23] fspeech opened #62 "minibufexpl keeps omni complete from working"
I had a problem with omni completion not working. It turned out that the minibufexpl was interfering with omni completion. Here is how I found out:

Normal keyword completion works. Omni complete does not work for any language, not just Python. omnifunc is set correctly. After I C-X C-O, nothing happens. I do ":py print globals()" and it is clear that the pythoncomplete was not loaded. I can ":cal

[2012-09-08 20:20] bruno- commented on #47
Yep - this is happening for me too.. very nasty, and I have to remove the MBE

[2012-09-15 14:42] anttihirvonen commented on #6
+1

I would really like to see this being solved. I always have to turn the duplicate checking off when developing Django projects, as many of the files have the same names (views.py/models.py/etc. in every app). This makes minibufexpl very slow.

Maybe someone with VIM scripting experience could take a look at the improvements made my @jmnas?

[2012-10-10 08:01] thomaswitt opened #65 "MBE automatically reopens last opened file/buffer?"
I am using MacVim. When I am quitting Vim (:q) and reopening it, it always displays the last file/buffer opened. How can I suppress this behaviour? Found nothing in the Docu.

[2012-10-10 12:58] stardiviner opened #66 "minibufexpl map conflict with plugin tinykeymap.vim"
I found minibufexpl map `<Leader>mq` is conflict with tinykeymap.vim
Here is the error:

[code]

[2012-10-18 02:43] stardiviner commented on #66
I have found an option in plugin tinykeymap to create a new mapleader. This is solved.

[2012-10-18 02:43] #66 closed, assigned to nobody

[2012-10-22 06:58] noscript commented on #44
Found the real problem, minibufexpl wasn't aware of NERDTree. There is a fix:

[code]

[2012-11-09 12:10] dezza commented on #6
fholgado: Thanks for the tip, setting that single variable will let me open 140 buffers in a single vim on Windows in a jiffy !

[2012-11-10 14:29] fwolf opened #68 "MBE comflict with BuffExplorer ?"
Original installed BuffExplored and worked well,
After install MBE,
I can't open buffer list using '\be' key,
but '\bv' works.

Is there any conflict or keymap duplicate ?

My vimrc:
https://github.com/fwolf/fwolfrc/blob/1e7a826ce71fe5509e6b84d22c273f5cb31458f8/vimrc

BuffExplorer version: 7.3.0
Vim: 7.3

[2012-11-10 14:45] fwolf commented on #68
Add:

Seems this happen when I have this line in vimrc:

[code]

Remove this line then '\be' are useable.

Why ??

[2012-11-13 12:15] weynhamz commented on #65
MBE itself does not track file stats in the last session, there must be something else altering you sessions.

[2012-11-18 16:20] oryband commented on #31
+1

[Check this one](http://vim.1045645.n5.nabble.com/minibufexpl-and-autochdir-setting-leads-to-multiple-mini-buffers-td5711001.html)

[2012-11-20 00:37] weynhamz commented on #1
Hey, guys

I have continued the developement of MBE for a while, a bunch of PRs have been merged into [the develop branch of my fork](https://github.com/techlivezheng/vim-plugin-minibufexpl/tree/develop).

I believe that techlivezheng/vim-plugin-minibufexpl@cea185b, techlivezheng/vim-plugin-minibufexpl@7ebc049 and techlivezheng/vim-plugin-minibufexpl@b0d4c4a should fix this issue.

Please give it

[2012-11-20 01:13] weynhamz commented on #6
Hey, guys

I have continued the developement of MBE for a while, a bunch of PRs have been merged into the develop branch of my fork of MBE at techlivezheng/vim-plugin-minibufexpl.

The mechanism of checking buffers with duplicate name has been totally refactored(Thanks to @jmnas for the orginal work.), I believe that techlivezheng/vim-plugin-minibufexpl@5715dd9, techlivezheng/vim-plugin-minibufexp

[2012-11-20 01:13] weynhamz commented on #13
Hey, guys

I have continued the developement of MBE for a while, a bunch of PRs have been merged into the develop branch of my fork of MBE at techlivezheng/vim-plugin-minibufexpl.

The mechanism of checking buffers with duplicate name has been totally refactored(Thanks to @jmnas for the orginal work.), I believe that techlivezheng/vim-plugin-minibufexpl@5715dd9, techlivezheng/vim-plugin-minibufexp

[2012-11-20 01:17] weynhamz commented on #9
Hey, guys

I have continued the developement of MBE for a while, a bunch of PRs have been merged into the develop branch of my fork of MBE at techlivezheng/vim-plugin-minibufexpl.

The mechanism of checking buffers with duplicate name has been totally refactored(Thanks to @jmnas for the orginal work.), I believe that techlivezheng/vim-plugin-minibufexpl@5715dd9, techlivezheng/vim-plugin-minibufexp

[2012-11-20 01:30] weynhamz commented on #5
Hey, guys

I have continued the developement of MBE for a while, a bunch of PRs have been merged into the develop branch of my fork of MBE at techlivezheng/vim-plugin-minibufexpl.

The mechanism of checking buffers with duplicate name has been totally refactored(Thanks to @jmnas for the orginal work.), I believe that techlivezheng/vim-plugin-minibufexpl@5715dd9, techlivezheng/vim-plugin-minibufexp

[2012-11-20 01:36] weynhamz commented on #61
Hey, guys

I have continued the developement of MBE for a while, a bunch of PRs have been merged into the develop branch of my fork of MBE at techlivezheng/vim-plugin-minibufexpl.

The mechanism of checking buffers with duplicate name has been totally refactored(Thanks to @jmnas for the orginal work.), I believe that techlivezheng/vim-plugin-minibufexpl@5715dd9, techlivezheng/vim-plugin-minibufexp

[2012-11-20 01:49] weynhamz commented on #21
Hey, guys

I have continued the developement of MBE for a while, a bunch of PRs have been merged into the develop branch of my fork of MBE at techlivezheng/vim-plugin-minibufexpl.

 I believe that techlivezheng/vim-plugin-minibufexpl@3add236 and techlivezheng/vim-plugin-minibufexpl@4155048 should fix this issue now.

Please give it a try and let me know if it works.

[2012-11-20 01:49] weynhamz commented on #7
Hey, guys

I have continued the developement of MBE for a while, a bunch of PRs have been merged into the develop branch of my fork of MBE at techlivezheng/vim-plugin-minibufexpl.

 I believe that techlivezheng/vim-plugin-minibufexpl@3add236 and techlivezheng/vim-plugin-minibufexpl@4155048 should fix this issue now.

Please give it a try and let me know if it works.

[2012-11-20 01:53] weynhamz commented on #3
Hey, guys

I have continued the developement of MBE for a while, a bunch of PRs have been merged into the develop branch of my fork of MBE at techlivezheng/vim-plugin-minibufexpl.

The real issue is not about the empty buffer name, I think it is mainly because MBE steal the focus for a little bit while entering a buffer, after returning to the buffer, the 'wincmd p' would be pointed to MBE window.

[2012-11-20 02:12] weynhamz commented on #37
Hey, guys

I have continued the developement of MBE for a while, a bunch of PRs have been merged into the develop branch of my fork of MBE at techlivezheng/vim-plugin-minibufexpl.

I believe this issue has been fixed in my [develop branch](https://github.com/techlivezheng/vim-plugin-minibufexpl/tree/develop) after some refactorings, please give it a try and let me know if it works.

[2012-11-20 02:13] weynhamz commented on #31
Hey, guys

I have continued the developement of MBE for a while, a bunch of PRs have been merged into the develop branch of my fork of MBE at techlivezheng/vim-plugin-minibufexpl.

I believe this issue has been fixed in my [develop branch](https://github.com/techlivezheng/vim-plugin-minibufexpl/tree/develop) after some refactorings, please give it a try and let me know if it works.

[2012-11-20 02:13] weynhamz commented on #54
Hey, guys

I have continued the developement of MBE for a while, a bunch of PRs have been merged into the develop branch of my fork of MBE at techlivezheng/vim-plugin-minibufexpl.

In vim, There is always at least one open buffer even it is an empty buffer with no name. I believe this issue has been fixed since techlivezheng/vim-plugin-minibufexpl@8fad45b in my [develop branch](https://github.com/

[2012-11-20 03:14] justinmk commented on #6
@techlivezheng, thanks for notifying about your improvements. It works well so far.

[2012-11-23 22:14] weynhamz commented on #26
There is a plugin called [buf_it](http://www.vim.org/scripts/script.php?script_id=2833) providing this functionality, it shows the buffers' list in information line.  Meanwhile, I am tring to integrate this functionality into MBE, so, please hold on for a while.

[2012-11-23 22:43] weynhamz commented on #61
Hey, I am closing this issue, because it has been fixed in [the develop branch of my fork](https://github.com/techlivezheng/vim-plugin-minibufexpl/tree/develop) and will soon be avaliable in @fholgado's repo in the coming relase 6.5. If the problem still remains, feel free to reopen it.

[2012-11-23 22:43] #61 closed, assigned to weynhamz

[2012-11-23 22:44] weynhamz commented on #54
Hey, I am closing this issue, because I believe it has been fixed in [the develop branch of my fork](https://github.com/techlivezheng/vim-plugin-minibufexpl/tree/develop) and will soon be avaliable in @fholgado's repo in the coming relase 6.5. If the problem still remains, feel free to reopen it.

[2012-11-23 22:44] #54 closed, assigned to weynhamz

[2012-11-23 22:44] weynhamz commented on #52
Related #26, please refer to that one insead.

[2012-11-23 22:45] #52 closed, assigned to weynhamz

[2012-11-23 22:50] weynhamz commented on #6
Hey, I am closing this issue, because I believe it has been fixed in [the develop branch of my fork](https://github.com/techlivezheng/vim-plugin-minibufexpl/tree/develop) and will soon be avaliable in @fholgado's repo in the coming relase 6.5. If the problem still remains, feel free to reopen it.

[2012-11-23 22:51] weynhamz commented on #31
Hey, I am closing this issue, because I believe it has been fixed in [the develop branch of my fork](https://github.com/techlivezheng/vim-plugin-minibufexpl/tree/develop) and will soon be avaliable in @fholgado's repo in the coming relase 6.5. If the problem still remains, feel free to reopen it.

[2012-11-23 22:51] #31 closed, assigned to weynhamz

[2012-11-23 22:51] weynhamz commented on #37
Hey, I am closing this issue, because I believe it has been fixed in [the develop branch of my fork](https://github.com/techlivezheng/vim-plugin-minibufexpl/tree/develop) and will soon be avaliable in @fholgado's repo in the coming relase 6.5. If the problem still remains, feel free to reopen it.

[2012-11-23 22:51] #37 closed, assigned to weynhamz

[2012-11-23 22:52] weynhamz commented on #3
Hey, I am closing this issue, because I believe it has been fixed in [the develop branch of my fork](https://github.com/techlivezheng/vim-plugin-minibufexpl/tree/develop) and will soon be avaliable in @fholgado's repo in the coming relase 6.5. If the problem still remains, feel free to reopen it.

[2012-11-23 22:52] #3 closed, assigned to weynhamz

[2012-11-23 22:53] weynhamz commented on #7
Hey, I am closing this issue, because I believe it has been fixed in [the develop branch of my fork](https://github.com/techlivezheng/vim-plugin-minibufexpl/tree/develop) and will soon be avaliable in @fholgado's repo in the coming relase 6.5. If the problem still remains, feel free to reopen it.

[2012-11-23 22:53] #7 closed, assigned to weynhamz

[2012-11-23 22:53] weynhamz commented on #21
Hey, I am closing this issue, because I believe it has been fixed in [the develop branch of my fork](https://github.com/techlivezheng/vim-plugin-minibufexpl/tree/develop) and will soon be avaliable in @fholgado's repo in the coming relase 6.5. If the problem still remains, feel free to reopen it.

[2012-11-23 22:53] #21 closed, assigned to weynhamz

[2012-11-23 22:54] weynhamz commented on #9
Hey, I am closing this issue, because I believe it has been fixed in [the develop branch of my fork](https://github.com/techlivezheng/vim-plugin-minibufexpl/tree/develop) and will soon be avaliable in @fholgado's repo in the coming relase 6.5. If the problem still remains, feel free to reopen it.

[2012-11-23 22:54] #9 closed, assigned to weynhamz

[2012-11-23 22:55] weynhamz commented on #1
Hey, I am closing this issue, because I believe it has been fixed in [the develop branch of my fork](https://github.com/techlivezheng/vim-plugin-minibufexpl/tree/develop) and will soon be avaliable in @fholgado's repo in the coming relase 6.5. If the problem still remains, feel free to reopen it.

[2012-11-23 22:55] #1 closed, assigned to weynhamz

[2012-11-23 22:55] #6 closed, assigned to weynhamz

[2012-11-23 22:58] weynhamz commented on #24
Hey, I am closing this issue, because I believe it has been fixed in [the develop branch of my fork](https://github.com/techlivezheng/vim-plugin-minibufexpl/tree/develop) and will soon be avaliable in @fholgado's repo in the coming relase 6.5. If the problem still remains, feel free to reopen it.

[2012-11-23 22:58] #24 closed, assigned to weynhamz

[2012-11-23 23:04] weynhamz commented on #13
Related to #5

[2012-11-23 23:15] weynhamz commented on #61
Related to #5

[2012-11-24 01:08] weynhamz commented on #50
Hey, this should be fixed in techlivezheng/vim-plugin-minibufexpl@a76acea and techlivezheng/vim-plugin-minibufexpl@9410d5c. Also, techlivezheng/vim-plugin-minibufexpl@7584a7a and techlivezheng/vim-plugin-minibufexpl@832ba52 should make MBE work fine with Powerline. After techlivezheng/vim-plugin-minibufexpl@1aeb012, you can use 'g:miniBufExplStatusLineText' to specify the status line for MBE. All

[2012-11-24 01:41] weynhamz commented on #20
Hey, I introduced two new commands ':MBEbf' and ':MBEbb' in commit techlivezheng/vim-plugin-minibufexpl@b7d2ad5  to switch buffer forward or backward in the buffer entering history, aka cycling buffer in a MRU fashion. This functionality has been merged into [the develop branch of my fork](https://github.com/techlivezheng/vim-plugin-minibufexpl/tree/develop) in commit techlivezheng/vim-plugin-mini

[2012-11-24 01:41] #20 closed, assigned to weynhamz

[2012-11-24 01:42] weynhamz commented on #20
I am closing this issue, because I believe it has been fixed in [the develop branch of my fork](https://github.com/techlivezheng/vim-plugin-minibufexpl/tree/develop) and will soon be avaliable in @fholgado's repo in the coming relase 6.5.

[2012-11-24 21:45] weynhamz commented on #47
Hey, I have encountered this problems several times too while developing the minibufexpl. After some changes, this problem has gone, but I am not sure which commit fixes it and I can not reproduce it even at the orginal @fholgado's master, I think it might have something to do with the configuration of the MBE, can any of you post your MBE's configuration here?

Anyway, this issue should be fixed

[2012-11-24 22:13] weynhamz commented on #68
@fwolf `map <silent> <F7> :TMiniBufExplorer<CR>` 应该不是造成 `\be` 失效的原因，MBE 也没有绑定 `be` 开头的键，所以应该是其它的原因造成的。

貌似你使用的是 scripts.vim.org 上的 MBE，已经比较旧了，试试这个仓库的版本吧，或者[我的 develop 分支](https://github.com/techlivezheng/vim-plugin-minibufexpl/tree/develop)（有大量的改进和重构，不过默认的键绑定已经全部移除了，这应该是用户自己的事），或者等新的版本 6.5 （就快在 @fholgado 的仓库发布了）。

我先把这个问题关闭了，如果还有问题，欢迎重新打开。

[2012-11-24 22:13] #68 closed, assigned to weynhamz

[2012-11-24 22:23] weynhamz commented on #62
Hey, @fspeech, I am currently maintaining ths project, and I am not using Omni, and I do not quite understand what you mean, but from what you are saying, there is a big chance that your issue has been fixed in [the develop branch of my fork](https://github.com/techlivezheng/vim-plugin-minibufexpl/tree/develop), please give it a try and let me know if it still happens.

[2012-11-24 22:29] #48 closed, assigned to weynhamz

[2012-11-24 22:35] weynhamz commented on #33
Hey, I am closing this issue, because it has been fixed in [the develop branch of my fork](https://github.com/techlivezheng/vim-plugin-minibufexpl/tree/develop) and will soon be avaliable in @fholgado's repo in the coming relase 6.5.

[2012-11-24 22:35] #33 closed, assigned to weynhamz

[2012-11-24 22:39] weynhamz commented on #39
Hey, try set 'g:did_minibufexplorer_syntax_inits'  to 1.

[2012-11-24 22:39] #39 closed, assigned to weynhamz

[2012-11-24 22:57] weynhamz commented on #59
I tried restoring the value of `updatetime` to the default, but that makes MBE take a noticeable delay to relect the changes of the file which is a bit unacceptble. Is it possible to patch the easytags plugin to suppress the warnings if it does not affect its functionality? If this is not a option, due to I am not using easytags, could you give it a try to see what value is appropriate for both ea

[2012-11-24 23:13] weynhamz commented on #42
I think it is the ACK should be fixed, the commands bunded to key `v` is not a good way of opening a file in a split. Also, these commands might have a chance to trigger MBE's auto-updating which would have a risk to break the window history and only make things worse. This is not a MBE issue, better to refactor ACK to find a way to open the file in an appropriate window.

[2012-11-24 23:13] #42 closed, assigned to weynhamz

[2012-11-25 01:52] linduxed commented on #59
IIRC, easytags repeatedly updates the tags database/file, with the interval being governed by `updatetime`. This value can't be lowered too much, since this shouldn't be updated as often as 300 ms.
So no, supressing the warnings isn't a solution in this case, since they're displayed for a valid reason.

As for a value both can agree on, it's hard for me to say. I don't how extensive the regular re

[2012-11-25 01:56] weynhamz commented on #59
Right, may be I can add an option to restore the updatetime to the default value if it is needed.

[2012-11-25 03:11] weynhamz commented on #44
The original @sergey-vlasov's problem is that 'AutoUpdate()', which will temparorily switch to MBE window, is triggerd on 'BufEnter' evet while entering the NERDTree window. When a file is opened in NERDTree window, it will get the previous window to see if it is usable, at this point it is the MBE window which is not, so MBE will then use the first usable window found. That's why NERDTree always

[2012-11-25 03:11] #44 closed, assigned to weynhamz

[2012-11-25 03:37] #18 closed, assigned to fholgado

[2012-11-25 17:01] weynhamz commented on #60
Implemented in techlivezheng/vim-plugin-minibufexpl@02c1fa8.

[2012-11-25 17:01] #60 closed, assigned to weynhamz

[2012-11-26 00:12] weynhamz commented on #51
Hey, @quasarj, I am currently maintaining ths plugin, and I do not have any Windows machine to test if this has been fixed in [the develop branch of my fork](https://github.com/techlivezheng/vim-plugin-minibufexpl/tree/develop), `set shellslash` should be unnecessary now but I have not remove it yet, please remove that line and give it a try, if nothing is affected, please let me know so I can rem

[2012-11-26 00:52] weynhamz commented on #17
Hey, guys, the problem for this issue is that the MBE is fired up while entering a diff split window and the window movement history gets messed up by MBE, it should be fixed in techlivezheng/vim-plugin-minibufexpl@3add236 and techlivezheng/vim-plugin-minibufexpl@4155048, please give it a try and let me know.

I am closing this issue, becuase it should be fixed in [the develop branch of my fork](h

[2012-11-26 00:52] #17 closed, assigned to weynhamz

[2012-11-26 02:04] #65 closed, assigned to weynhamz

[2012-11-26 03:18] fwolf commented on #68
ok, 我现在已经用上 @fholgado 的版本了，并且不再使用 BuffExplorer。

`\be` 失效的原因，大概是与 BuffExplorer 函数重名导致的，我换用 SelectBuf 就没事了。

[2012-11-27 19:43] quasarj commented on #51
I finally got a chance to try this out, and it looks like it's working fine on windows with set shellslash removed. However, it now appears to not display the full path regardless of the location of the files. I'm not sure if that was intentional or not.

Also it is breaking Command-T in a weird way - in a fresh instance of Vim, if I have not yet caused MBE to display itself (say, by opening two b

[2012-11-27 21:37] weynhamz commented on #51
Sounds good.

MBE should not display the full path of a buffer, it was a bug in previous versions on Windows.

It indeed breaks the Comand-T, thanks for mentioning it, I am looking into it.

[2012-11-29 05:43] weynhamz commented on #51
I am closing this issue, because I believe it has been fixed in [the develop branch of my fork](https://github.com/techlivezheng/vim-plugin-minibufexpl/tree/develop) and will soon be avaliable in @fholgado's repo in the coming relase 6.5. If the problem still remains, feel free to reopen it.

By the way, the Command-T problem should have been fixed too, please take a look.

[2012-11-29 05:43] #51 closed, assigned to weynhamz

[2012-11-29 21:28] weynhamz commented on #59
If `&ut` has been set to a different value other than the default, or the 'g:miniBufExplSetUT' option is false, minBufExpl will not set `&ut` any more.

I am closing this issue, because I believe it has been fixed in [the develop branch of my fork](https://github.com/techlivezheng/vim-plugin-minibufexpl/tree/develop) and will soon be avaliable in @fholgado's repo in the coming relase 6.5. If the p

[2012-11-29 21:28] #59 closed, assigned to weynhamz

[2013-01-04 10:34] dezza opened #70 "setting shellslash on win breaks shellescape"
[code]

Breaks other plugins like Syntastic ...

Setting shellslash on Windows is not good, since it prevents shellescape (built-in function) to work as expected.

[2013-01-04 12:04] weynhamz commented on #70
Please take a look at [the develop branch of techlivezheng/vim-plugin-minibufexpl](https://github.com/techlivezheng/vim-plugin-minibufexpl/tree/develop), it has been fixed there, and the development of this plugin is also there too.

[2013-01-04 12:04] #70 closed, assigned to weynhamz

[2013-01-04 12:40] dezza commented on #70
OK, I should simply start pulling from this rep?

[2013-01-04 12:43] weynhamz commented on #70
@dezza Yes, you could use that branch at the present. A new version will be released to this repo soon, you can change back if you like.

[2013-01-14 11:05] rix0rrr opened #71 "Minibufexplorer breaks filetype detection"
Hi,

I'm using minibufexpl.vim using Pathogen.

I've had the problem that using the plugin breaks filetype detection. I've been able to narrow it down to the following line:

[code]

Inside <SID>AutoUpdate(). I think a piece of code there is interfering with the autocmds that do filetype detection.

Anyway, commenting out this line seems to work for me without any ill effects. Though you'd like yo

[2013-01-14 22:31] weynhamz commented on #71
Hey, the development has been moved to https://github.com/techlivezheng/vim-plugin-minibufexpl, please try the develop [branch](https://github.com/techlivezheng/vim-plugin-minibufexpl/tree/develop) to see if you still have the problem.

[2013-01-15 09:25] rix0rrr commented on #71
That one works, thanks! Is it possible to make it more clear on this GitHub project which version is the "official" one?

[2013-01-15 09:25] #71 closed, assigned to weynhamz

[2013-01-15 09:44] weynhamz commented on #71
On Tue, Jan 15, 2013 at 01:25:14AM -0800, Rico Huijbers wrote:

So in long term, this repo still serves as the "official" one, because many
users hard-coded it into their vimrc file and I do not want to bother them
to change it. Only development takes place in my own repo, those who can
not bear with the nasty bugs any more should use my develop branch for now,
and change back after the new versio

[2013-02-08 02:02] jeremymarc opened #72 "Change behavior to select the new active buffer after deleting"
What's the current behavior to select the new active buffer after deleting one ? I don't understand how it's working. I would like to select the previous opened one.

[2013-02-26 10:21] gtvforever opened #73 "a issue about code highlighting disappear weirdly"
Hi Guys,

Recently, i installed minibufexpl on MacVim(OS X 10.8.2). I found a strange issue that the minibufexpl may cause the vim code highlighting does't work.

step 1, i open  source file  a.cpp,the code highlighting works fine;

step 2, i open another source file b.cpp, the minibufexpl starts to display buffer explorer;

step 3, i close one source file(a.cpp or b.cpp).In this case, i closed b.

[2013-02-26 19:47] mvgrimes commented on #73
Guoming,

I have had similar issues with syntax highlighting. I believe I was able to
fix the issue by moving the "syntax on" line to the bottom of my .vimrc
file, and adding checks to avoid reloading certain config files. For
example, I have this at the top of my .vim/ftplugin/perl.vim file:

[code]

There is also a minibufexpl flag that you can set, which might help with
this (although I did not

[2013-02-26 23:41] mmbradle opened #74 "Not working with vimwiki on windows systems"
minibufexpl sets shellslash on windows systems.

minibufexpl.vim (line 468)

[code]

This seems to cause shellescape() to output shell commands surrounded by single quotes. I believe windows cannot handle paths surrounded by single quotes and thus things start breaking because shell commands stop working.

Running a command in windows cmd surrounded by single quotes yields the following:

[code]

[2013-02-26 23:46] mmbradle commented on #74
looks like a duplicate of this:
https://github.com/fholgado/minibufexpl.vim/issues/51

I'm running 6.4.4 and that issue states that 6.5 is supposed to fix this issue.

[2013-02-27 10:38] gtvforever commented on #73
Hi Mark,

Thank you for your quick reply. I've added  " let g:miniBufExplForceSyntaxEnable = 1" into my .vimrc profile. It seems that my previous issue have been resolved.

However, i found another issue . The buf explorer highlighting feature would be disappeared if i set " let g:miniBufExplForceSyntaxEnable = 1" in the .vimrc profile. I think there may be some tricky codes cause this problem. An

[2013-02-28 20:47] swinman opened #75 "NERDTreeToggle cycle moves cursor to MiniBuffExpl"
When NerdTree is toggled on, the cursor moves to the NERD tree - then when it is toggled off the active pane / window gets switched to the minibuf - but it should have gone back to the active buffer / pane that NERD tree was called from.

same thing happens with Tlist close

there is also an issue using the <C-^> command because for some reason minibuf was the most recent active buffer - even thou

[2013-03-15 14:01] twmht opened #76 "buffer number is wrong"
This is an obvious problem

I just open two files, each one is located in one buffer

Here is my screenshot

![ _001](https://f.cloud.github.com/assets/1567200/263700/2c24c8e8-8d78-11e2-98b2-25b3b68fb7c5.png)

It is obvious that buffer number 1 is for .vimrc and number 2 is for test.sql

I want to switch to the number 2 buffer so that I use :bn 2 in normal mode; However, it is useless.

I use :bn

[2013-03-15 21:21] pahindman commented on #76
The :bn command doesn't do what you think it does.  Here are the [docs](http://vimdoc.sourceforge.net/htmldoc/windows.html#:bn).  In this case, ":bn 2" doesn't mean go to buffer number 2.  It means go to the buffer that is two buffers after this one.  It wraps around, so since you only have two buffers, you simply end up where you started.  ":bn 3" goes one step further, which puts you on the next

[2013-03-16 09:18] twmht commented on #76
Thanks for your help and contribute to this project:)

[2013-03-16 09:18] #76 closed, assigned to nobody

[2013-03-18 19:08] yshavit opened #77 "slow if too many buffers are open"
MBE seems to degrade in performance fairly quickly. With just a few files open, it works fine. But even ten files produces a noticeable delay, and 20 is slow enough that I wouldn't want to use it.

The files I'm using are trivially small:

[code]

[2013-03-18 20:45] mvgrimes commented on #77
You can speed it up by setting a flag in you .vimrc file:

   let g:miniBufExplCheckDupeBufs = 0

An explanation can be found in the source of minibufexpl.vim.

On Mon, Mar 18, 2013 at 3:08 PM, Yuval Shavit notifications@github.comwrote:

[2013-03-18 21:36] yshavit commented on #77
Perfect, thanks!

[2013-03-18 21:36] #77 closed, assigned to weynhamz

[2013-03-22 03:53] shepherdwind commented on #44
@fholgado seem to have no plan to release the new version, May be I should just use @techlivezhen 's branch.

[2013-03-23 15:09] ysyshtc opened #78 "There is some extra buffers when I close all the window"
When I close all the windows using :q, some extra buffers occur with syntax highlight. Is it a bug?

[2013-04-12 18:57] szw opened #79 "Problem with a new tab"
On new tab (:tabe or :tabnew) the first buffer is loaded automatically instead of the newly created one.
As a temporary workaround I use <F11> mapping to open new tabs:
noremap <silent><F11> :tabe<CR>:UMiniBufExplorer<CR>:blast<CR>

Another notice here:
I think MiniBufExpl should show unnamed buffers. Currently it omits them and this is very bad. There should right and simple way to get back to th

[2013-04-18 03:59] lsaint opened #80 "When i toggle minibufexplorer, it will resize window when nerdtree is open."
http://stackoverflow.com/questions/11409671/when-i-toggle-minibufexplorer-how-to-stop-resizing-window-when-nerdtree-is-open

Please see the question on Stackoverflow. thx.

[2013-04-21 15:14] mustafa0x opened #82 "Loses "sync" with opened buffers"
MiniBufExpl regularly loses sync with the opened buffers -- the explorer is no longer updated when a buffer is added or removed, and the highlighted buffer gets stuck on one of the buffers.

![Screenshot-1](https://f.cloud.github.com/assets/1473102/406486/1c13858a-aa96-11e2-9a5a-e20aa5e74984.png)

When this occurs, and I `:bd`, I get this:

![Screenshot](https://f.cloud.github.com/assets/1473102/4

[2013-04-22 18:35] singerb opened #83 "Duplicate MBE opens after I :cd and move to a new buffer"
I've started using a gvim that I just keep open, and `:cd` around when I want to work somewhere else (so my ack, command-t etc work nicely). What I've noticed though, is that when I do that, as soon as I switch to another buffer/window after I `:cd` MBE will open another, identical MBE window. I can close it with no apparent ill effects, and once I move back to another window the one I left behind

[2013-04-22 19:13] dtsteinm commented on #83
@singerb I believe I've seen the same issue. In my case, moving MBE closer to the top of my list of Vundle bundles in my .vimrc file seems to have corrected the problem.

[2013-04-22 19:15] singerb commented on #83
Hmm. I'm using pathogen, not Vundle, so I don't believe I have control over loading order, but I can try playing games with filenames.

[2013-04-22 20:06] dtsteinm commented on #83
That could be time consuming. If you haven't already figured it out, it might help to compare bundles. I'm not using either Command-T or Ack, but maybe there is some other commonality?

I'm currently using: Syntastic, vim-colors-solarized, minibufexpl.vim, vim-surround, vim-fugitive, vim-git, supertab, gundo.vim, vim-makegreen, L9, FuzzyFinder, pep8, TaskList.vim, The-NERD-Commenter and jedi-vim.

[2013-04-23 00:47] singerb commented on #83
So we certainly have some overlap. I've got:

Command-T, ack.vim, camelcasemotion, eclim, gundo.vim, minibufexpl.vim, supertab, syntastic, tagbar, vim-colors-solarized, vim-commentary, vim-lawrencium

And a few other syntax/indent/ftdetect files for various file types (fish, markdown, scala, lilypond).

[2013-04-23 01:31] dtsteinm commented on #83
Seems to be easiest for me to reproduce the issue, without rearranging bundle order (so where it's loaded doesn't seem to matter greatly), by going to a different buffer inside the MBE window, and once a duplicate appears, it continues to do so when navigating buffers. It seemed to happen more often after having the same Vim session open for more than ~2 hours or with a gundo window open, but can'

[2013-04-23 01:45] weynhamz commented on #83
Hey, just try develop branch, should be fixed there.

[2013-05-08 10:06] weynhamz commented on #72
Hey, please try the develop branch and let me know if it fixes your problem.

[2013-05-08 10:06] weynhamz commented on #73
Hey, please try the develop branch and let me know if it fixes your problem.

[2013-05-08 10:07] weynhamz commented on #74
Hey, please try the develop branch and let me know if it fixes your problem.

[2013-05-08 10:08] weynhamz commented on #75
Hey, please try the develop branch and let me know if it fixes your problem.

[2013-05-08 10:08] weynhamz commented on #78
Hey, please try the develop branch and let me know if it fixes your problem.

[2013-05-08 10:08] weynhamz commented on #79
Hey, please try the develop branch and let me know if it fixes your problem.

[2013-05-08 10:09] weynhamz commented on #80
Hey, please try the develop branch and let me know if it fixes your problem.

[2013-05-08 10:10] weynhamz commented on #82
Hey, please try the develop branch and let me know if it fixes your problem.

[2013-05-08 10:51] lsaint commented on #80
还是一样的，看看我的步骤有没问题。

[code]

2013/5/8 Techlive Zheng notifications@github.com

[2013-05-08 13:08] weynhamz commented on #80
这确实是个 bug，已确认。

[2013-05-08 13:48] weynhamz commented on #83
Hey, any update? Does the develop branch solve this issue?

[2013-05-08 15:28] ysyshtc commented on #78
Excellent! You did a good job, it seems work out! Thank you :)

[2013-05-08 15:53] weynhamz commented on #78
不客气:)

[2013-05-08 15:53] #78 closed, assigned to weynhamz

[2013-05-08 22:08] dtsteinm commented on #83
It does appear to be slightly more stable, wrt this issue, than the master branch.

[2013-05-08 22:44] singerb commented on #83
Yes, I agree that it seems to be better on the development branch.

[2013-05-09 01:40] lsaint commented on #80
好的，谢谢答复。

2013/5/8 Techlive Zheng notifications@github.com

[2013-05-09 02:01] weynhamz commented on #83
Okay, I am closing this issue, feel free to reopen it if it still hurts.

[2013-05-09 02:01] #83 closed, assigned to weynhamz

[2013-05-09 06:31] weynhamz commented on #80
已在 develop 分支修复，请确认。

[2013-05-09 07:43] lsaint commented on #80
确认修复，thx:)

2013/5/9 Techlive Zheng notifications@github.com

[2013-05-09 08:04] #80 closed, assigned to weynhamz

[2013-05-10 09:10] weynhamz commented on #49
Fixed in develop branch, closing this issue, feel free to reopen if it still bites.

[2013-05-10 09:10] #49 closed, assigned to weynhamz

[2013-05-10 17:58] weynhamz commented on #7
Duplicate of #3

[2013-05-10 18:08] weynhamz commented on #9
Duplicate of #5

[2013-05-10 18:18] weynhamz commented on #17
Related #3

[2013-05-10 18:20] weynhamz commented on #21
Duplicate of #3

[2013-05-10 18:29] weynhamz commented on #37
Duplicate of #31

[2013-05-10 18:32] weynhamz commented on #13
Duplicate of #6

[2013-05-10 18:32] weynhamz commented on #61
Duplicate of #6

[2013-05-10 18:37] weynhamz commented on #44
Related #3

[2013-05-10 18:38] weynhamz commented on #48
Related to #3

[2013-05-11 03:55] weynhamz commented on #70
Duplicate of #51

[2013-05-11 03:57] weynhamz commented on #77
Related to #5

[2013-05-11 03:58] weynhamz commented on #77
Duplicate of #6

[2013-05-11 03:58] weynhamz commented on #77
Better to try the develop branch, should be fixed there.

[2013-05-11 03:59] weynhamz commented on #78
Duplicate of #1

[2013-05-11 04:00] weynhamz commented on #83
Duplicate of #31

[2013-05-11 04:06] weynhamz commented on #73
Duplicate of #24

[2013-05-11 04:12] weynhamz commented on #75
Related to #3

[2013-05-11 05:58] weynhamz commented on #62
Related to #59.

It is because MBE previously set the value of 'updatetime' to 300ms which is too low, after pressing 'C-x' before 'C-o', MBE's 'AutoUpdate()' function has already intercepted it. I believe commits c99ea42 and 87543bc in develop branch have fixed this issue. You can also adjust the 'updatetime' setting yourself, MBE will respect it now.

I am closing this issue, feel free to reopen

[2013-05-11 05:58] #62 closed, assigned to weynhamz

[2013-05-11 06:06] weynhamz commented on #73
Closing this issue, it should be fixed in the develop branch, feel free to reopen it.

[2013-05-11 06:06] #73 closed, assigned to weynhamz

[2013-05-11 06:10] weynhamz commented on #75
Closing this issue, it should be fixed in the develop branch, feel free to reopen it.

[2013-05-11 06:10] #75 closed, assigned to weynhamz

[2013-05-11 06:11] weynhamz commented on #74
Closing this issue, it should be fixed in the develop branch, feel free to reopen it.

[2013-05-11 06:11] #74 closed, assigned to weynhamz

[2013-05-11 06:23] weynhamz commented on #79
Closing this issue, it should be fixed in the develop branch by commit c06f82d, feel free to reopen it.

[2013-05-11 06:24] #79 closed, assigned to weynhamz

[2013-05-11 06:42] weynhamz commented on #47
Closing this issue, it should be fixed in the develop branch by commit c06f82d, feel free to reopen it.

[2013-05-11 06:42] #47 closed, assigned to weynhamz

[2013-05-11 06:44] weynhamz commented on #79
Related #47

[2013-05-11 06:55] weynhamz commented on #82
Closing this issue, it should be fixed in the develop branch, feel free to reopen it.

[2013-05-11 06:55] #82 closed, assigned to weynhamz

[2013-05-11 06:59] weynhamz commented on #72
Use 'MBEbd' command introduced in develop branch, should do want you desired.

Closing this issue, feel free to reopen it.

[2013-05-11 06:59] #72 closed, assigned to weynhamz

[2013-05-11 10:02] weynhamz commented on #6
Related to #5

[2013-05-11 10:24] weynhamz commented on #48
Related to #17

[2013-05-12 16:59] weynhamz commented on #71
I figured it out today that this issue is the main cause of the issue #24. With filetype detection broken, of course the syntax highlighting would not work properly.

Anyway, commit cea185b removed `call <SID>CycleBuffer(1)` from the `AutoUpdate()` function which should fix this problem.

At the end, I suspect that the reason why filetype detection is broken is because `CycleBuffer()` is trying to

[2013-05-17 07:58] mortbauer opened #84 "problem in conjunction with the plugin amiorin/vim-project :Welcome command"
Hey it is a quite specific bug i found, havn't really lokked into it more, but it occurs in your (by the way great plugin) and looks the following:

`Error detected while processing function <SNR>38_AutoUpdate..<SNR>38_CycleBuffer:
line   13:
E85: There is no listed buffer`

it only happens if I use the ":Welcome" function of https://github.com/amiorin/vim-project.
Maybe somebody can help.

Thanks

[2013-05-17 08:02] weynhamz commented on #84
Which branch do you use, the current master is really buggy, please give the develop branch a shot.

[2013-05-20 16:05] DieterDePaepe opened #85 "Freeze when used in conjunction with gmarik/vundle :BundleInstall command"
Steps to reproduce:
- Install Vundle as plugin manager
- Setup Vundle to download this plugin - add the following to .vimrc: Bundle 'fholgado/minibufexpl.vim'
- Start vim (or gvim)
- Execute ":BundleInstall" to download the plugin (or do nothing when it's already installed)
- Execute ":q" to exit the Vundle buffer
- Vim is now frozen

This only occurs when there is nothing in your current buffer b

[2013-05-20 16:57] weynhamz commented on #85
Thy the develop branch please.

It seems you are using Vundle, then try the master of my fork.

[2013-05-20 16:58] weynhamz commented on #85
Oh, it seems you have tried my master, I should have mentioned that, I am maintaining this project now, the develop branch of this repo is actually my master.

[2013-05-20 16:58] #85 closed, assigned to nobody

[2013-05-20 16:59] weynhamz commented on #85
A new version will be released soon, it will be fixed then.

Closed.

[2013-05-21 13:14] zhoulike opened #86 "gvim flashes when I set g:miniBufExplForceSyntaxEnable"
I use gvim 7.3 in win 8, and the setting of minibufexpl is :
let g:miniBufExplForceSyntaxEnable = 1

This setting removes the bug of syntax highlighting. However, the interface of gvim flashes in this case. If I remove this line in _vimrc, everything is OK.

I always work and study in Ubuntu, and this setting is fine in Ubuntu.

[2013-05-21 13:26] weynhamz commented on #86
Should be fixed in develop branch, please give it a shot.

[2013-05-21 13:32] weynhamz commented on #86
Closing this, feel free to reopen it.

[2013-05-21 13:32] #86 closed, assigned to nobody

[2013-05-21 13:42] zhoulike commented on #86
I just tested the develop branch. When I open many files, and type :q or :bd, it closes all buffers.

[2013-05-21 13:49] weynhamz commented on #86
MBE should have handled this correctly, maybe its other plugin you installed that interfere the quiting process, you can try that by just load MBE.

[2013-05-25 11:29] NonLogicalDev commented on #84
Actually I second that. For some reason it does not play well with the `Startify` plugin either.

It seems like MiniBufferExplorer confuses vim into thinking that MiniBufferExplorer is the active pane when in fact it is not. All sorts of crazy things happen after that.

One of the side effects by the way is that it does not get themed.(Lacks Powerline too unless selected)

[2013-05-25 11:36] weynhamz commented on #84
@AkaiBureido Plese test the develop branch for this

[2013-05-25 11:37] NonLogicalDev commented on #84
I am on develop branch. At least I think I am...
[Edit: Apologies, I an not very good with git apparently. Now I am on develop. I will check whether the issue is still there.]

[2013-06-06 00:50] symbolix opened #87 "Problem with NERDTree after multiple "Open in new vertical buffer" commands."
Hi,
I have seen that this has been an issue before, but I am still getting unstable behaviour with NERDTree. After multiple "s" commands (open in vertical) in NERDTree, for me this is 5 times, the next vertical request will open on the top of the NERDTree buffer, just next to the miniBufExpl buffer, creating a buffer as tall as the miniBufExpl buffer. Any ideas?

Thanks.

[2013-06-06 00:57] symbolix commented on #87
Hi,
I have just confirmed that the problem is related to miniBufExpl. With the plugin disabled, NERDTree is capable of opening unlimited vertical buffers with the default key "s". With the miniBufExpl being active, the vertical buffers are very unstable. Any ideas on how to improve this?

Thanks

[2013-06-06 01:58] weynhamz commented on #87
@symbolix Hey, please try develop branch or the master branch of my fork.

[2013-06-08 20:39] weynhamz commented on #84
@AkaiBureido Any update? Does the develop branch fix you problem?

[2013-06-08 20:40] weynhamz commented on #87
@symbolix Any update on this?

[2013-06-09 11:09] mortbauer commented on #84
sorrry, after the problems i disabled it again. I will give a try again, but right now I have to many things to do.

[2013-06-12 08:49] NonLogicalDev commented on #84
@techlivezheng Unfortunately no it does not seem like the problems got fixed... Dare I say they are even more pronounced. After opening a file with Startify and then opening NERDTree things go quite nuts... Something is profoundly wrong either with your code or with my set up...

(I believe that I should reference #87 as it seems related to my problem...)

I can share my vim folder if you want...

[2013-06-12 10:13] weynhamz commented on #87
@AkaiBureido Sorry, I can not reproduce this issue with just nerdtree and minibufexp(devlop branch) installed, maybe more detailed instructions on how you got the problem?

[2013-06-12 10:15] weynhamz commented on #84
@AkaiBureido Yes, please share you vim folder and the instruction on how to get this problem.

[2013-06-12 10:28] weynhamz commented on #84
@mortbauer Just tried with only project and minibufexpl(develop branch) installed, the "Welcome" command seems work quite well.

[2013-06-18 00:37] kurojishi opened #88 "after last update powerline lose focus at any buffer change"
hi, after the update i remapped my old keybindings to :MBEbp e :MBEbn

but now everytime i change the buffer powerline lose focus like i was in another buffer
i'm using the vim-powerline plugin with no settings for it and this MBF settings

[code]

it's nothing major but it's pretty annoyng as powerline give many information i like to be able to see anytime

[2013-06-18 06:01] linhmtran168 opened #89 "':wq' doesn't exist vim"
With the latest minibufexpl.vim, `:wq` doesn't exist vim but leaves a big minibufexpl.vim open. I must type `:q` another time to be able to quit vim.

![screen shot 2013-06-18 at 12 59 57 pm](https://f.cloud.github.com/assets/646436/666883/59636a68-d7dc-11e2-8d16-02cc2ba4820c.png)

[2013-06-18 06:20] weynhamz commented on #88
Which powerline are you using? https://github.com/Lokaltog/vim-powerline or https://github.com/Lokaltog/powerline? I havn't test the later one, but it should be okay with the previous one. Could you test it with just MBE and PowerLine enabled, see if it is truely MBE's fault, sometimes, other plugins may cause the problem.

And, by the way, most of your MBE's configuration option have been depreci

[2013-06-18 06:21] weynhamz commented on #89
This shouldn't be, which version of Vim are you using? Could you test it by just enable MBE to see if it really the MBE's problem?

[2013-06-18 06:44] linhmtran168 commented on #89
I'm using MacVim 7.3-66. This is the output from `:version` command

[code]

I did disable all other plugins but the problem still appeared.
You can take a look at my .vimrc here https://github.com/linhmtran168/mac_dotfiles/blob/master/.vimrc

[2013-06-18 06:47] kurojishi commented on #88
i used the vim-powerline plugin, i moved the the new one today, the new one works perfectly with MBE, the old one don't.

yeah i noticed that where depreciated later than my bugreport and i've eliminated them.

[2013-06-18 07:07] weynhamz commented on #88
@kurojishi Glad to see it works, so, close this issue?

[2013-06-18 07:12] weynhamz commented on #89
MBE is currently using 'QuitPre' event to close itself before the quitting, there seems a bug that ['QuitPre' wouldn't be called befroe ':wq'](https://groups.google.com/forum/?fromgroups#!topic/vim_dev/f85fzX93CZU), you might need to upgrade your Vim to a newer version, I am using 7.3.918 which is working properly.

[2013-06-18 07:24] #88 closed, assigned to nobody

[2013-06-18 07:25] kurojishi commented on #88
yup closed

[2013-06-18 08:36] linhmtran168 commented on #89
@techlivezheng Thank you, updated to the master branch of macvim and the problem was fixed

[2013-06-18 08:36] #89 closed, assigned to nobody

[2013-06-18 08:48] weynhamz commented on #89
@linhmtran168 You are welcome, glad to see it helps.

[2013-06-18 10:40] AgentCosmic opened #90 "Problem when opening with --remote-silent"
When I open a file with --remote-silent I will have an empty buffer [1].
After open some other files and I attempt to close one buffer with :bd, vim quits.

This is message comes up for the first file:
![image](https://f.cloud.github.com/assets/1035714/667998/433e07da-d803-11e2-86ef-f070ed822106.png)

This comes up for the second file:
![image](https://f.cloud.github.com/assets/1035714/668004/60d7

[2013-06-18 12:26] weynhamz commented on #90
Can you provide a more detailed procedure to reproduce this? I am not using vim in server/client mode, you need to guide me to this problem.

[2013-06-19 04:13] AgentCosmic commented on #90
Run `gvim --remote-silent path/to/file`
This will produce first error.
Then run `gvim --remote-silent another/file`
This will produce the second error.

[2013-06-19 09:28] weynhamz commented on #90
@AgentCosmic Noop, no error here.

Could you please test it with just MBE enable? And you use `--remote-silent` without a server instance setup?

[2013-06-20 05:03] AgentCosmic commented on #90
I ran it with only pathogen and MBE, still same problem. I'm running on Windows, vim 7.3 patch 1-46.
I'm using `--remote-silent` so I only open files in one instance of gvim.

[2013-06-20 05:18] weynhamz commented on #90
You might need to update Vim to a newer version and try again. The ':bd' quiting problem is fixed in a newer Vim version.

As I can't reproduce your the 'Key not preset' error shown in the screenshots, I can't do anything about, unless you can dig it down a little and provide me with more info.

[2013-06-20 08:07] AgentCosmic commented on #90
I've updated to the latest version provided [here](http://tuxproject.de/projects/vim/). The :bd bug is fixed.
However the error message still persist. I have this in my vimrc to wipe any empty buffer. After commenting this out, the error is gone. But I need this code so I don't have an empty buffer in the beggining.

[code]

[2013-06-20 08:58] weynhamz commented on #90
@AgentCosmic Try the develop branch or my master branch, should be fixed there.

[2013-06-20 15:19] weynhamz commented on #90
@AgentCosmic The previous attached commit is buggy, reverted for now, I am working on a fix.

[2013-06-21 12:57] weynhamz commented on #87
@symbolix @AkaiBureido Any update? If no reponse given, I will colse this issue.

[2013-06-21 12:58] weynhamz commented on #84
@mortbauer @AkaiBureido Any update? If no reponse given, I will colse this issue.

[2013-06-21 13:19] weynhamz commented on #90
@AgentCosmic It turns out that not the MBE needs fix, it is your code, just add a 'nested' attribute to your autocmd, which make MBE update its buffer list when you do bwipe in the BufAdd event, then everything works fine.

[code]

[2013-06-21 13:19] #90 closed, assigned to nobody

[2013-06-21 14:00] symbolix commented on #87
Hi,
Sorry for the delay. Unfortunately it keeps happening, so I had to give up on miniBufExp and stick with CTRLP. I really wanted to help with this, but I do not have a lot time and I need to get my VIM pipeline working very soon. It was breaking my buffer behaviour, so I had to move on. But there are issues with NERDTree as well, I am rising the issues with that one.

Thanks.

[2013-06-21 14:08] weynhamz commented on #87
@symbolix Even with the MBE 6.5.0? A new version just released a few days ago, you might need to try on that.

[2013-06-21 14:23] symbolix commented on #87
Ah? I have missed that one. Ok, I will give it a try. I really like the idea behind this plugin. Thank you very much. Will let you know.

[2013-06-21 14:59] NonLogicalDev commented on #84
here is my vimrc [http://cl.ly/3w2F3T061P0P]
It probably has a bit too many plugins... But you can test you plugin against it.

To get to the problem just open a few files to fill up the recent menu. The use the startify and you should be (hopefully) able to reproduce the problem.

[2013-06-21 15:06] NonLogicalDev commented on #84
I will test it after the weekends with the new version if you wont beat me to that.

[2013-06-26 01:20] saamalik opened #91 "MiniBufExplorer window resizes when using ZoomWin"
Hi,
I don't know if this is a MiniBufExplorer problem or ZoomWin--but I thought I'd post here first.

The MiniBufExplorer resizes and takes half-the horizontal space after a ZoomWin sequence (`<C-W>o`) on restore.
1. Open two files--2 buffers. MBE opens up.
2. Zoom into the main window: `<C-w>o`.
3. Zoom out: `<C-w>o`
4. Switch to the next buffer: `:bn`
5. Notice that MBE now takes up half the ver

[2013-06-26 01:52] weynhamz commented on #91
What's your MBE's version?

[2013-06-27 17:58] saamalik commented on #91
Still reproducible in the latest commit: 349a9fbb7a9da13d029b6a7ed8c8a5e9c048c4ec

[2013-06-28 09:48] weynhamz commented on #91
Yeah, I just test it, it seems ZoomWin does not restore 'winfixheight' and 'winfixwidth' option after retore the windows. You need to file a bug report toZoomWin to make it keep the 'winfixheight' and 'winfixwidth' settings across the zooming.

[2013-06-29 00:28] weynhamz commented on #91
You can either contact the author to add `wfh` and `wfw` to `s:localoptlist`, or just set `g:zoomwin_localoptlist` option to the orignal value of `s:localoptlist` plus `wfh` and `wfw` like the following if you are using 25g ASTRO-ONLY from the author's site.

[code]

[2013-06-29 00:37] sumonto opened #92 "text overlapp for file names,"
Hi,
I liked your color scheme orange and other, how can I get the same.
Also what is the purpose of the radio button on the top?

thanks

[2013-06-29 00:41] weynhamz commented on #92
Hey, not quite understand what you mean? Waht "radio button"? I have no idea what color scheme @fholgado use in his original screenshots, but you can try Solarized scheme, it is awesome.

[2013-06-29 01:00] saamalik commented on #91
ok thanks!

[2013-06-29 01:00] #91 closed, assigned to nobody

[2013-07-01 21:23] sumonto commented on #92
Thanks, that was helpful. Would you know how can I fix the problem of text overlap, italics in the attached image.
![gvim1](https://f.cloud.github.com/assets/4875674/733074/66aba9de-e294-11e2-8a39-7dc148511f4b.jpg)

[2013-07-02 22:23] kleungkw opened #93 "resizing behaviour on horizontal splits for 2 or more files"
I've just recently updated the plugin and noticed when I have horizontal splits of 2 or more files with MiniBufExplorer opened the splits get resized evenly when I switch focus in one of these windows.  This gets frustrating when I've manually resized the windows and they keep getting resized evenly.

This didn't happen before :TMiniBufExplorer was deprecated, and it doesn't seem to affect vertica

[2013-07-05 20:56] af opened #94 "Error when opening session files"
Hi,
I'm getting an error every time I restore from a session file that I saved while using MiniBufExplorer.

I'm saving the session with `:mksession .testsesh`, then closing vim and running `:so .testsesh`.

![screen shot 2013-07-05 at 1 43 47 pm](https://f.cloud.github.com/assets/25241/755524/ebb0032e-e5b3-11e2-8718-7dbf6f586491.png)

The line in question (in the session file) reads:

[code]

And

[2013-07-06 04:38] weynhamz commented on #94
Are you at the master of this repo? Did you try the develop branch?

[2013-07-07 21:16] ghost opened #95 "Vim dies when doing wipeout on second buffer"
I'm seeing an issue with `minibufexpl` where vim unexpectedly quits when I wipe out a buffer. I start up vim and load a file `:e foo.txt`, and then another one `:e bar.txt`. So now `minibufexpl` shows buffers `[1]` and `[2]`. So far so good. When I do a `:bwipeout`, I expect that `bar.txt` will be closed and I will be back at `foo.txt`. But when I have `minibufexpl` installed, this doesn't happen.

[2013-07-08 02:53] weynhamz commented on #95
Close as duplicate of #89.

[2013-07-08 02:53] #95 closed, assigned to nobody

[2013-07-08 02:56] weynhamz commented on #92
@sumonto What should it looks like without overlaping? I do not fully understand it.

[2013-07-08 03:01] weynhamz commented on #93
Yes, this was inctroduced some time ago in order to fix #80, it indeed behave the way you decribed in your situation, it is one drawback though, there should be a way to fully resolve #80, I will be look into it.

[2013-07-08 20:07] sumonto commented on #92
I meant the text is getting clipped is it expected?
e.g. please see 5: and 6: the text is clipped for 5:
I did not see the text being clipped in the original example from @fholgado

thanks.

[2013-07-09 03:00] af commented on #94
Hi,
Yes, this was on master, at commit ad72976ca3df4585d49aa296799f14f3b34cf953.

I just tried the develop branch and got the same result. Let me know if there's anything else you want me to try!

[2013-07-11 23:49] sumonto opened #96 ":bd closes gvim instead of buffer"
Hi
:bd closes gvim instead of buffer, any ideas how to fix it?

thanks.

[2013-07-12 02:38] weynhamz commented on #96
You will need a newer Vim version. Closes as duplicate of #89.

[2013-07-12 02:38] #96 closed, assigned to nobody

[2013-07-12 21:31] sumonto commented on #89
Please give me a link on how to update to latest patch fix,
I had downloaded the latest win installer 2 days back from vim.org.

thanks.

[2013-07-12 21:43] weynhamz commented on #89
@sumonto If the win installer vim.org provides is not new enough, you might need to build it yourself. As for how to build Vim on M$ Windows, sorry I really can't help you, you are on your own I am afraid.

[2013-07-13 08:20] sumonto commented on #89
(2 modified files are make files to build using VS 2012)
I was finally able to build on windows using Visual Studios 2012 Compiler
Scenario 1: (0 buffers or 1 buffer open)
:bd closes the single buffer, but does not close GVim.exe

Scenario 2: (2 or more buffers open)
:bd closes GVim.exe

Thanks for your help so far.
Sumonto

[2013-07-17 02:43] sumonto opened #97 "minibuf to open additional buffers on a single existence gvim"
Hi
Is there a way for an existing instance of gvim with minibuf to open the next buffer as part of minibuf's buffers instead of additional tabs.

I tried to execute gvim with --remote-tab-silent

thanks.

[2013-08-06 08:58] lukost opened #98 "Highlight does not work anymore after switching to ad72976ca3df4585d49aa296799f14f3b34cf953"
After pulling latest master from the repo, the syntax highliting for MBE stopped working. I was quite fond of this functionality...

The :syntax command run in MBE windows outputs: No Syntax items defined for this buffer
I can see that the  RenderSyntax is called, but the syntax seems to get cleared.

Regards:
lukost

[2013-08-06 13:03] weynhamz commented on #98
Do you use your custom highlight setting? The name of the syntax highlight group has been changed in the last version, you might need to adjust you settings.

[2013-08-07 17:49] lukost commented on #98
I tried both: custom highlighting and vanilla config. Nothing works for me.

As I've stated before, the MBE window does not have any syntax defined (calling 'syntax' in MBE window gives: "No syntax items defined for this buffer"). I can manually (copy-paste or source) the <SID>RenderSyntax and then everything works just fine.

btw thanks for quick answer.

[2013-08-08 05:37] weynhamz commented on #98
Do you have 'g:did_minibufexplorer_syntax_inits' defined somewhere in your configuration?

[2013-08-08 07:41] lukost commented on #98
No, I don't.

[2013-08-08 07:51] lukost commented on #98
I have solved the problem by adding 'syntax' folder into the plugin dir, and placing minibufexpl.vim file in it. The content is taken from RenderSyntax:

[code]

The RenderSyntax seems to be called in wrong window...
Have you thought about moving the actual syntax into syntax file instead of defining it inline?

This seems to fix the problem.

[2013-08-08 08:47] lukost commented on #98
Sorry for closing and reopening - my daughter was playing with the mouse...

[2013-08-08 15:11] kaldrenon opened #99 "g:miniBufExplMinSize not honored by <C-W>_"
In my vimrc I have:

[code]

If I do <C-W>_ to maximize a window, MBE is squashed. I see a statusline, but I don't see the 1 lines that should show because of the global

[2013-08-09 09:18] dearsun opened #100 "It can`t normally work when mksession create file!"
I found when i use the "vi -S  file.mks" to open some files,  then the minibufexplorer can`t show any files.  or run the vi, then use ": source file.mks", it can`t normally work!
minibufexpl.vim very good, I hope it become more well. thanks

[2013-08-10 16:29] toupeira opened #101 "Custom highlighting for buffer numbers?"
I'd like to use different colors for buffer numbers so they stand out from the file names, could you add highlighting groups for this?

[2013-08-10 19:34] jleb opened #102 "Shows line number 0 when used with the number and relativenumber settings"
I have the 'number' and 'relativenumber' settings set in my .vimrc file and MiniBufExplorer shows the line number 0. I noticed that it works properly (i.e. no line number is shown) when only the 'number' setting is on, but having either 'relativenumber' on or both 'number' and 'relativenumber' on seems to confuse MBE and causes it to display a line number 0.

[2013-08-11 12:36] bliof opened #103 "No colors for the buffers' labels with vim7.4"
I've just build the last version of vim under linux and pulled the master branch of the plugin and when I open 2 or more files the labels of the buffers stay the same.

[2013-08-21 16:56] dezza opened #104 "":e" randomly splits in three windows and shows minibufexpl empty."
hi guys, I've been using my vimrc for a few years and now suddenly when I type ":e file" my minibufexpl splits up in three windows like; http://i.imgur.com/ZTG5q17.png - it's quite random! Sometimes I can reopen vim and do two ":e" and minibufexpl shows as normal, but randomly it does this very annoying thing (usually when one file is open and :e is issued).

I've used minibufexpl for a few years

[2013-08-27 23:45] dezza commented on #104
I think I made some progress.

I've been unable to reproduce the error for now when I let gvim start in "C:\" instead of the default directory.

Log on "wrong split behavior" https://gist.github.com/dezza/8f8a5d1932241c784f14

Because;

Log first says:
 # Found window 1 with buffer (3 : ProgramData\Microsoft\Windows\Start Menu\Programs\Vim 7.3-MiniBufExplorer-)
then
 # ... called in invalid window

[2013-08-30 15:20] dezza commented on #104
It didn't work.

let g:miniBufExplBuffersNeeded = 0

I tried the following to prevent the above from happening.

Nevertheless the problem still haunts me.

What is more irritating is that it is so random and I have to rearrange windows and in worst case scenario restart Vim.

[2013-09-11 00:40] austinphillips2 commented on #104
I've had a similar problem with gvim and it's in part related to the current working directory.

The fix I believe, is the following.  Change the following line in the source:

[code]

to

[code]

This ensures that the -MiniBufExplorer- buffer is completely removed when not shown, rather than leaving a -MiniBufExplorer- window in the buffer list with questionable state.

Here's how to reproduce th

[2013-09-12 13:53] bdrewery opened #106 "22_QuitIfLastOpen errors on ad72976ca3df4585d49aa296799f14f3b34cf953"
When running `:bd` I am getting this error when closing some windows:

<pre>
Error detected while processing function <SNR>22_QuitIfLastOpen:
line   12:
</pre>

[2013-09-12 13:54] bdrewery commented on #106
<pre>
VIM - Vi IMproved 7.3 (2010 Aug 15, compiled May  4 2012 04:22:36)
Included patches: 1-429
Modified by pkg-vim-maintainers@lists.alioth.debian.org
Compiled by buildd@
Huge version with GTK2-GNOME GUI.  Features included (+) or not (-):
+arabic +autocmd +balloon_eval +browse ++builtin_terms +byte_offset +cindent
+clientserver +clipboard +cmdline_compl +cmdline_hist +cmdline_info +comments
+co

[2013-09-12 14:04] bdrewery commented on #106
The error I see is 'XX more files to edit'

[2013-09-12 15:47] bdrewery commented on #106
Updating TagBar from 2.0.1 to 2.5 fixes this. It had the same auto quit code in the older version and now does not.

[2013-09-12 15:47] #106 closed, assigned to nobody

[2013-10-16 01:36] deanmorin opened #107 "MiniBufExplCycleArround not working"
The `MiniBufExplCycleArround` option isn't working for me. I have the following settings in my vimrc:

[code]

When I get to the last buffer:

`:MBEbn` -> `You have reached the last buffer!`
`:MBEbf` -> `You have reached the most recent buffer!`

Also, `Arround` should be spelled `Around` (this was my first problem when trying to use this option).

Thanks for the great plugin!

[2013-10-19 11:47] huangyg11 opened #108 "is there a shotcut for open a buffer in a spliting window?"
maybe it's a simple question, but i can't fiind anything discriping about it ?  thx

[2013-10-19 12:00] weynhamz commented on #108
See #26, it is on TODO list.

[2013-10-19 12:02] weynhamz commented on #108
Vim 默认支持 <buffer number>Ctrl-6 的方式来切换 buffer ，就是不怎么好用而已。

[2013-10-19 12:06] huangyg11 commented on #108
可能是我表达得不清楚 我说的是这样的情况：把一个buffer在另一个window中打开，类似于bufferexploer的\bv功能

[2013-10-19 13:06] weynhamz commented on #108
Vim 本身的 `vert sb <buffer_number>`? 或者在 MBE 中相应的的 buffer 上 <key>s</key> 或 <key>v</key>? 见 MBE doc 的 Window Mappings 部分。

[2013-10-19 14:36] huangyg11 commented on #108
看到了 谢谢 之前按v都直接进入可视模式 现在又可以了

[2013-10-19 14:42] weynhamz commented on #108
这是 MBE 窗口的快捷键，必须要处于其中才有效

发自我的 iPhone

[2013-10-20 06:32] huangyg11 commented on #26
@mkrauskopf 's answer works and it is great !

[2013-10-30 06:33] huangyg11 opened #109 "Empty minibufexp window"
hi, i have used this plugin a few time, it's great.
recently, i have a problem. sometimes, when open a second buffer , and at this time MBE tempted to open MBE window, but the MBE window is empty. see the image for more direct view.
![minibuf bug](https://f.cloud.github.com/assets/5545682/1434907/ef73e3b6-412c-11e3-90f6-baefd0569bbc.png)
 i am using gvim7.3 and windows xp

[2013-11-04 17:44] oliv5 opened #110 "Cannot select files with similar names (one name part of the other name)"
I have MBE running with 2 files opened: "aaabbb.cc" and "aabbb.c"
I set g:miniBufExplShowBufNumbers=0.

When I click/double-click/select file "aabbb.c", then file "aaabbb.cc" is opened instead.
I can still open "aabbb.c" using :MBEbp or :MBEbn.

When I set g:miniBufExplShowBufNumbers=1, the issue vanishes.

My MBE config
  let g:miniBufExplStatusLineText = ""
  let g:miniBufExplBuffersNeeded = 2

[2013-11-05 20:38] phush0 opened #111 ":badd did not show file in minibufexpl"
:badd command did not add file names in minubuffexpl

[2014-01-03 04:17] PetrusZ opened #112 "set confirm does't work with minibufexpl"
I add `set confirm` in .vimrc and install minibufexpl.

And if I modify one or more file and close it by ":MBEbd"  or "d" in MBE, vim doesn't display the confirmation prompt, but actually the options  stil work, type "y" can save the modified and close, type "n" can not save the modified and close, type "c" can cancel it, type nothing you will jam.

Additional: can't change current buffer name's a

[2014-01-17 23:28] #103 closed, assigned to nobody

[2014-01-18 04:38] weynhamz commented on #103
@bliof Sorry for not relying, so, what's the status? Have you fixed this?

[2014-01-18 09:19] bliof commented on #103
For some reason I had in a  little script of mine `au BufEnter * silent :syntax on` which was causing the problem. And when I was doing the test few month back on clean vim without plugins I think that I missed to add `syntax on` to the vimrc.

P.s. I noticed that when you create a session with `:mksession tmp.vim` and then opened it  `vim -S tmp.vim` the buffers won't be displayed on the top. You

[2014-01-18 09:33] bliof opened #113 "When loading a session minibufexpl is empty until you do something with the buffers"
When you do `:mksession tmp.vim` and then you do something like `vim -S tmp.vim` you will get a warning/error `"-MiniBufExplorer-" [Not edited] --No lines in buffer-- ((1) of 2)` (As far as I can tell, it opens the buffer/split from the session file). The split that was saved in the session is shown on the top and it is empty. You will have to do something like `:bp` and then minibufexpl will fill

[2014-02-14 14:18] adelarsq opened #115 "Disable cursorline for Minibufexpl window"
With cursorline the backgrounds don't show properly.
I did this configuration to avoid this:

[code]

But this don't avoid the problem when focus is in the mininibuf window.

[2014-02-20 22:43] dmix opened #116 "moving tabline to top of vim?"
I noticed in the screenshots that the buffer list is at the top of VIM. I'm trying to move mine from below the statusbar to the top.

It looks like you are using mvim, but is it possible to do this in terminal gvim on linux?

I've been searching everywhere and couldnt find a solution.

[2014-02-21 05:37] weynhamz commented on #116
It should be on the top by default. Do you have 'splitbelow' set somewhere, if so, you need to explicitly have 'let g:miniBufExplBRSplit = 0' in you vimrc, because the default value of that option is read from 'splitbelow'.

[2014-02-21 18:08] dmix commented on #116
oh right I did have splitbelow set. Thanks that worked.

[2014-02-21 18:08] #116 closed, assigned to nobody

[2014-03-05 14:07] ghost commented on #93
It is a very bad behavior :~/ that I only found recently because I use more often vertical splits.
And it did take me some time to find that MBE was the culprit !
I would be able to change a buffer in a window without resizing anything (using an MBE option if it is necessary to preserve others functionalities).
Hope it is possible, I love MBE and thanks for your work.

[2014-03-14 07:54] iw-kuchin commented on #26
Also, there is old MBE fork called TabBar which does excatly the requested thing. vim-script's version is very old and behaves oddly in many scenarios (trying to open buffer in NERDTree window for example, etc,) so if you want to try it you should search for latest forks on GitHub. They have a lot of issues fixed. I'm trying at the moment the latest one with mappings like <Space>1 for first buffer

[2014-04-06 15:16] bdrewery opened #117 "Closing buffer loses filetype and syntax"
I've bisected this back to the 6.5.0 release. It's not worked since for me. Nor does the develop branch work.

[2014-04-13 16:34] fatbird opened #118 "sontek/minibufexpl.vim missing"
@sontek's original project seems to be gone, which causes a vundle error when trying to update this:

[code]

Browsing to https://github.com/sontek/minibufexpl.vim does get a 404, though sontek's profile is still live and populated.  Maybe time to drop the dependency?

[2014-04-16 04:01] ayutheos opened #119 "Empty MBE window when changing working directory"
I get an empty MBE window when I `:cd` or `:lc` to another directory different from the starting directory when gvim is started or opened file directory.

I'm using gvim 7.4.

Might be related to issue #109, but I'm not sure what's causing that problem.

[2014-04-18 06:05] ttxy624 commented on #87
Another question about the minibufexpl and nerdtree, see: http://v2ex.com/t/108455

[2014-04-18 17:59] ssokolow opened #120 ":MBEToggle<CR>:MBEFocus<CR> fails on first use"
When using this

[code]

the `:MBEFocus` always fails the first time it's called, meaning that, before I can use MBE, I have to "prime" the session by typing `<Leader>]<Leader>]`.

(My first intuition is that, with `let g:miniBufExplorerAutoStart = 0`, the first call to `:MBEToggle` has such an initialization burden that MBE isn't ready when `:MBEFocus` is received.)

If that's intended behaviour,

[2014-04-28 19:28] BenjaminRH commented on #119
Yep, I'm getting this too.

[2014-04-29 18:04] onilton commented on #17
@techlivezheng I'm using your fork, but I still got issues with vim-fugitive and MBE (Gdiff window is just 1 line height).

Should I open another issue?

[2014-06-27 08:32] tcoopman commented on #32
I still have this issue, with latest versions of vim, NERDtree en minibufexpl

[2014-06-27 08:34] mikehaertl commented on #32
@tcoopman Please have a look at this fork. It fixes many of the known issues with minibufexplorer: https://github.com/techlivezheng/vim-plugin-minibufexpl

[2014-06-27 09:58] tcoopman commented on #32
@mikehaertl I don't see many changes between the two repos? But I just switched and still have the issue (gvim on windows)

[2014-06-27 11:02] mikehaertl commented on #32
@tcoopman Ok, I'm not sure, if the both repos where merged at some point. I also can't say if this issue still exists - I don't use neither projects nor NERDtree anymore.

[2014-07-05 12:31] chrisvanpatten commented on #107
Just encountered this as well. Would be great to get a fix.

[2014-08-06 16:41] djornada opened #123 "MBE always on top"
if user setted splitbelow
MBE is showed at the bottom

[2014-08-14 08:23] skupr opened #124 "calling :syntax enable forces MBE to loose coloring"
I am editing and reloading vimrc quite often, and when I reload it, MBE looses all coloring.
I've figured out that this is because of string
:syntax enable
Could you please fix that or tell some workaround for my vimrc?

[2014-08-15 05:13] skupr commented on #124
Found workaround:
in .vimrc:

[code]

and then,

[code]

note that it goes AFTER syntax enable string.

It's a bit complex, and probably there may be easier solution, but it works for me transparently.

[2014-08-23 09:51] janhh commented on #123
Hi. I had the same problem. Looking around I found this.

let g:miniBufExplBRSplit = 0

It's explained in the help text, :h g:miniBufExplBRSplit.
I didn't fully understand the help text at first, but I got it when I browsed the source in github repository.

[2014-09-02 12:41] djornada commented on #123
Ok!
Thanks

[2014-09-02 12:41] #123 closed, assigned to nobody

[2014-09-18 15:12] caetanosauer opened #125 "Skip MBE when cycling between windows"
The window command 'w' (i.e., CTRL_W w or CTRL_W CTRL_W) is very useful to switch from one window to another when I have two windows open. However, with MBE activated, it lands in the MBE window in between. Is there a way to make the command skip the MBE window?

Thanks!

[2014-10-01 15:54] keithsun80 opened #126 "How to just only show file?"
I don't want ‘minibufexpl’  display directory or NO NAME...

How can i set it?

[2014-10-07 13:46] laserswald commented on #119
I've got it too. For me, the filename is ~/[Scratch]. If that helps at all. I would love to help fix the problem, too.

[2014-10-17 02:52] Fuzzier commented on #124
Create a syntax file: "minibufexpl.vim" under "minibufexpl.vim\syntax\".
Put the following content into the syntax file:

[code]

[2014-10-22 22:10] adrianhamza opened #129 "What setting allows me to place the status bar at the top?"
Hi,
I've looked quickly through the settings but I didn't find this. How do I make the status bar show up at the top? Currently it shows at the bottom of vim and it interferes with the commands. The gif shows it's possible. Thank you!

[2014-10-23 02:40] skupr commented on #129
From the doc:

_'g:miniBufExplBRSplit'_
To control where the new split window goes relative to the current window, use
the setting:

  let g:miniBufExplBRSplit = 0   " Put new window above
                                 " current or on the
                                 " left for vertical split
  let g:miniBufExplBRSplit = 1   " Put new window below
                                 " current

[2014-10-24 14:42] adrianhamza commented on #129
Thank you - I misunderstood that to be something else, it works now.

[2014-11-02 03:57] ghost opened #130 "color highlighting lost after deleting a buffer"
Hi, I use vim 7.4, Ubuntu system.
When I delete a buffer using :bd, the file the see lost all the syntax highlighting. I can resume the highlighting by changing to another buffer. I tried to add g:miniBufExplForceSyntaxEnable = 1 to my .vimrc, but it does not help.
did I forget any other setting?
Thank you very much.

[2014-12-07 20:24] d125q opened #131 "`relativenumber` is not turned off"
[This line](https://github.com/fholgado/minibufexpl.vim/blob/master/plugin/minibufexpl.vim#L635) should be changed from

[code]

to

[code]

[2014-12-21 14:45] anishathalye commented on #93
This still seems to be an issue. Is there a simple way to fix it?

[2015-01-04 08:03] jerzygangi opened #132 "Deleting a modified buffer"
Hi,

How do you delete a buffer that has been modified? `d` works to delete an unmodified buffer, but not a modified one.

[2015-01-08 22:18] sricks commented on #130
Also happens for me in 7.3 on Crunchbang (Debian based distro)
Also happened on Windows in Gvim 7.3

Tried same vimrc option and it gave an error - tried let miniBufExplForceSyntaxEnable = 1 and it didn't work either

[2015-01-08 22:32] sricks commented on #130
@wakuang Can you try this in .vimrc?
`let g:miniBufExplForceSyntaxEnable = 1`

I wasn't sure on the syntax but that should work - your comment doesn't have `let` at the beginning.

Worked on my Crunchbang system.

[2015-01-09 01:33] ghost commented on #130
Thank you for your comment, but it did not help.

[2015-02-11 10:10] hunter-street opened #133 "Always equal resize when toggle (horizontal) split windows"
I have (horizontal) split windows and manually set the sizes. But when I switch focus between windows VIM always equally resize them.

[2015-02-11 10:11] hunter-street commented on #133
I am not a VIM plugin writter but I found below change will fix it somehow...

diff --git a/plugin/minibufexpl.vim b/plugin/minibufexpl.vim
index 8ef2aa8..74d33e5 100644
--- a/plugin/minibufexpl.vim
+++ b/plugin/minibufexpl.vim
@@ -1190,7 +1190,7 @@ function! <SID>ResizeWindow()

[code]
-    set equalalways
-    set noequalalways
   let &ead = saved_ead
   set noequalalways

[2015-02-12 17:27] ryanartecona commented on #124
+1, just ran into this today. Not a huge pain, but it would be nice to not need to restart vim after changing some settings & reloading ~/.vimrc (and more importantly, to not have to remember this particular caveat).

[2015-02-19 12:25] eemeli opened #134 "Can't reorder buffers"
The default order minibufexpl presents open tabs in is the order in which they've last been opened; "most recently used" is the only alternative on offer. This is a different order than the buffer number order, which is set by the order of first opening.

I would like to be able to manually change the buffer order, effectively by moving a selected buffer backwards or forwards in the list, as is po

[2015-03-23 21:22] gerroon commented on #133
man I spent hours trying to figure this out :( It was this plugin that was causing the issue, so annoying. It would be nice if the author just fixes this because it is harder to to use a custom patch because using a vim plugin manager means it will be overwritten at some piunt

[2015-04-09 01:56] superarts opened #135 "How to customize status line text to match the current buffer?"
Hi, I tried `let g:miniBufExplStatusLineText='%l/%L'` but it only shows "1/1" on top of the screen, which seems to be a buffer with the content of a single line "MiniBufExpl". What have I done wrong please?

[2015-04-10 06:40] twmht opened #136 "Buffer index is too large"
See the screenshot below

![manybuffer](https://cloud.githubusercontent.com/assets/1567200/7083054/72a59dc2-df8f-11e4-95bd-8b822ab42e85.png)

I have no idea why the buffer index is so large since I only open a few buffers.

Thank you

[2015-04-18 15:59] af commented on #94
Just realized this was still open– nobody else seems to have the issue and I'm using a different plugin now, so will close.

[2015-04-18 15:59] #94 closed, assigned to nobody

[2015-04-24 00:35] Rugal opened #137 "key mapping works in Gvim but not in vim"
Hello,
I don't know if this problem comes from my Vim or not, here is the problem description, if you find it has nothing to do with `minibufexpl.vim`, please close this issue, thx!

I have checked `:noremap <C-Left>`, `:noremap <C>`,   `:map <C-Left>` as well as `:map <C>`, this key is not binded yet.
Minibufexpl works very well when I use MBEbn and bp command directly.
But When I configure in vi

[2015-05-22 09:49] Marek77 commented on #133
Just fell victim to this as well on Fedora 21 / vim 7.4. In case someone needs to reproduce:
- start a "clean" vim
  `$ vim -N -u /dev/null -i /dev/null --noplugin`
- load minibufexplorer
  `:source ~/.vim/plugin/minibufexpl.vim`
- split window
  `:split`
- resize the split so the two windows have different sizes
  `:10wincmd +`
- toggle minibufexplorer and observe the bug
  `:MBEToggle`

The patc

[2015-06-10 03:47] shanemikel opened #138 "funky behaviour with multiple vim instances"
Is it just me, or does minibufexpl freak out when there is more than one running instance of vim?

[2015-06-10 05:55] shanemikel commented on #138
hmm... it looks like it don't happen unless i'm using nerdtree

[2015-07-06 01:39] mxdubois opened #139 "Feature request: `:MBEBlur`?"
`:MBEFocus` is really nice. Saves me having to navigate up through a bunch of window splits. It'd be great if I had a way to return my focus, though. Sometimes I focus the buffer explorer and then change my mind ;)

[2015-07-21 15:22] dajuno commented on #130
same here,  `let g:miniBufExplForceSyntaxEnable = 1` does not help for current versions of vim and minibufexpl.

[2015-08-08 19:33] malnoxon commented on #136
Are you using the gitgutter plugin? I recently discovered that I only seem to get these huge numbers when that plugin is enabled.

[2015-08-12 11:44] twmht commented on #136
I can't live without gitgutter. Is there any alternative?

[2015-08-27 09:01] mcagl opened #140 "Closing one buffer when there are two (leaving only one open) gives error"
Hello. When I have two buffers open and I close one of the two, it closes, minibufexpl window on top goes away, but I see this error below:

[code]

[2015-08-31 08:46] mcagl commented on #140
Well, it seems I found a workaround, committed here: https://github.com/mcagl/dotvim/commit/8990d7d9ac431996fdfc39dfdf41f184f02f061a

Closing this issue, sorry for the noise.

[2015-08-31 08:46] #140 closed, assigned to nobody

[2015-09-14 04:23] wolftune opened #141 "Some way to automatically open MBE for new tabs *if* there's multiple buffers"
Lets say I open the same buffer in two tabs. I don't need MBE to show then. Basically, I _like_ that MBE doesn't show when there's only one buffer (regardless of the number of tabs). Thus, I don't want to make a setup that would open MBE any time there's a new tab.

That said, what I want is to have an absolutely persistent MBE always shown whenever there are 2 or more buffers. Currently, regardle

[2015-09-15 13:57] petr-fischer opened #142 "Please setlocal nocursorline"
If I set cursorline in vim - color background in minibufexplorer is crippled.

Can you add line " setlocal nocursorline" on line 647?

[2015-09-22 09:36] #126 closed, assigned to nobody

[2015-10-22 08:19] PhilRunninger commented on #112
The problem with `set confirm` is happening because the `bd` command is running silently. See the DeleteBuffer function:

[code]

I restored the prompt by replacing the above code with these lines:

[code]

However, if I cancel the `:MBEbd` function, I get these error messages:

[code]

I assume these are the sort of messages silent was intended to hide. I'm not sure how or if they can be suppress

[2015-10-29 09:46] hvnsweeting opened #144 "using MBE make vim does not work"
I don't really know where is the problem, but it just happened recently while I used MBE without any problem for 2 days already.

Now, even if I just turn on MBE, it causes weird problem make the I cannot change to Normal mode from insert mode. Here is screenshot

<img width="560" alt="screen shot 2015-10-29 at 4 39 16 pm" src="https://cloud.githubusercontent.com/assets/1000665/10815149/cb683368-7

[2015-11-19 13:39] SteveCharleston commented on #119
Having this problem as well on all sorts of OS. Running cli vim

[2015-12-10 04:09] dustMason commented on #134
Me too! This drives me crazy

[2015-12-23 03:25] sukeyisme commented on #107
let g:MiniBufExplCycleArround = 1    the word Mini should be mini

[2015-12-23 03:43] deanmorin commented on #107
@sukeyisme Huh, thanks!

[2015-12-23 03:43] #107 closed, assigned to nobody

[2016-01-02 06:51] Rugal commented on #137
I don't know how to resolve this problem. But seems it is not the problem of minibufexpl.

[2016-01-02 06:51] #137 closed, assigned to nobody

[2016-01-15 14:06] madjxatw opened #145 "MBEbd error when only two buffers exsit"
If there are only two buffers exist, use of MBEbd throws the error as shown below:

[code]

[2016-03-14 10:21] intenter opened #146 "Error trying to quit while editing multiple files"
Hi Everyone.

I'm opening 2 files, same name different folders.
After that, without changing anything I'm trying to :q
Getting the error message:

[code]

MiniBuffer disappears taking syntax highlight with it. If I change to the second buffer now :b2 it comes back.

Any thoughts how to fix this? Or workaround may be?
Thanks in advance.

[2016-04-09 08:29] jiacj commented on #145
I get this error when I try to close one of two exit buf using d.

[code]

[2016-06-17 08:03] crazy-canux opened #147 "How to use winmanager to include this plugin?"
What if I want to use winmanager to include this plugin.
How to do this?

[2016-06-21 01:16] #147 closed, assigned to nobody

[2016-08-24 18:44] MaikoID opened #148 "Set MRU as the default behavior"
Hey guys there's any way to accomplish that with we already have?

I've tryied to put it:
`> MBEToggleMRUAll`
 in my initial after file:
`> ~/.config/nvim/after/plugin/after.vim`
my :mess

[code]

[2016-09-23 13:23] bleakwind opened #149 "About customizing Colors?"
If set:
`hi CursorLine  guibg=#2F2F2F`

[code]

In MiniBufExplorer window this can't overwrite CursorLine color...

[2016-11-02 02:28] andrewplummer opened #150 "Cannot close directory listing buffer"
Hello, sorry if this is a duplicate, I had trouble describing it.

If I open a directory in MBE I get a listing, but it can't be closed (:MBEbd) and does some weird things such as preventing tabbing through buffers (:MBEbn and MBEbp).

I'm on OSX Sierra. This happens in both MacVim 8.0.3 and terminal Vim 7.3. List of other plugins:

[code]

[2016-12-26 07:03] bleakwind opened #151 "How set StatusLine with [total buffer, modify buffer unsave]"
How set StatusLine to show with [total buffer, modify buffer unsave]

[2017-01-07 15:51] FranciscoDA commented on #145
It seems I could get around this by commenting out line 890 in minibufexpl.vim:
`" call s:SwitchWindow('w',1,l:currWin)`
I'm not sure if this could introduce other issues
Edit: Disregard that, this seems to conflict with other plugins such as NERDTree :(
Edit2: It seems the problem is caused by the MiniBufExplorer window toggling off when there is a single buffer left, thus the call to SwitchWindo

[2017-05-16 23:47] alanhamlett opened #154 "Ability to re-arrange buffer order in buffer window"
I often want to move a buffer's tab left/right when working in many files. Does a command already exist to do this? If not let's add one 😄

[2017-05-23 22:28] alanhamlett commented on #154
If I create a PR will it get reviewed and merged? Want to check before spending the time. The PR would:

* add new sort order `manual` for manually ordering buffers in the window. `manual` order would be like `number` but allow moving buffers manually to left or right
* add new commands `:MBEbmn` and `:MBEbmp` to move the currently selected buffer forwards or backwards if using `manual` ordering

[2017-05-24 23:31] mvgrimes commented on #154
I would love to see this feature implemented.

On May 23, 2017 6:28 PM, "Alan Hamlett" <notifications@github.com> wrote:

[2017-06-16 01:17] j3soon commented on #145
I get the same error while closing the current tab using `d` when there are a total of 2 tabs. Closing the other one doesn't throw the error.

[2017-06-19 14:10] jerome-diver opened #155 "change colordoesn't works like document explain"
I don't know if bugged or if document has not been updated, but i tryed to change colors and it failed to give the colors i indicate on MBEChanged guifg, MBENormal guifg.
Could you please test your code around that or update the documentation( i think maybe the doc is also not complete...).
Or maybe this plugin is no more maintained and should not be used, could you tell me ?

[2017-07-21 14:47] jerome-diver commented on #155
i resolve it by just add a color sheme on my gui terminal emulator window.

[2017-07-21 14:51] jerome-diver opened #157 "split horizontal window and size come back on half/half after change window selection"
i open a file, then an other one by :sp my_second_file.txt
then i do 50<C-W>_ (ok, works)
after i click on the other window... size come back half/half. I can not have my size height i choosed for a wondow.
weird... how to fix that please ?

[2017-11-07 16:17] PlasmaHH opened #158 "make a few mappings/commands a bit more flexible"
Hi,

I made the following changes to my copy of minibuf and maybe it could be made so that one can configure that behaviour?

In StartExplorer
`
 nnoremap <buffer> o       :call <SID>MBESelectBuffer(0)<CR>:MBEFocus<CR>:<BS>

  nnoremap <buffer> e       :call <SID>MBESelectBuffer(0)<CR>:<BS>

   nnoremap <buffer> <CR>    :call <SID>MBESelectBuffer(0)<CR>:MBEToggle<CR>:<BS>
`
because sometimes I jus

[2018-02-15 08:35] Shachar commented on #157
I, too, am plagued by this problem. It is a major blocker for proper use of the plugin.

[2018-02-15 08:38] Shachar commented on #157
This is  duplicate of bug #133 from 2015. I don't think we're going to see a fix :-(

[2018-02-15 21:43] MageJohn opened #161 "Rewrite README to describe what the plugin does"
Most references to MiniBufExpl  link to this repository, which means it has pretty much replaced the original project. Rather than listing the differences from the original, perhaps the README should explain what the plugin does as a whole. This helps people who are following a recommendation figure out if the plugin is right for them.

[2019-02-14 03:40] #124 closed, assigned to nobody

[2020-02-19 16:38] #112 closed, assigned to nobody

[2020-03-17 10:29] yuvalif opened #162 "buffer does not show in the list when opened using ":e""
when opening a new buffer with "e: <file name>" command, the file opens but not shown in the buffer list

[2020-03-17 10:34] yuvalif commented on #162
not an issue

[2020-03-17 10:34] #162 closed, assigned to nobody

[2020-04-30 18:39] Shadowalker1995 commented on #145
Awesome. Your solution solves my same problem well. Thank you!